[2016-03-15 10:43] #463 closed

[2016-03-19 19:58] jamierocks opened #465 "Inconsistency of SpongeAPI"
It is done ```SpongeAPI``` in some parts of the documentation and as ```Sponge API``` in others

[2016-03-19 23:38] Inscrutable commented on #465
**SpongeAPI** is the proper noun denoting the actual API that SpongePowered make. In a few cases, "the Sponge API" is used instead to refer to it more generically (in context with other APIs). If you can cite any instances where it's specifically *wrong*, please do so.

[2016-03-22 17:34] jamierocks commented on #465
I personally think that all instances of ```Sponge API``` are wrong. :P

[2016-03-23 07:10] gabizou opened #468 "Clean up Cause usage"
Currently, I'm finding in a few docs (namely "How to spawn an entity") where there's a code example as follows:
`Cause.of(NamedCause.source(EntitySpawnCause.builder()
            .entity(creeper).type(SpawnTypes.PLUGIN).build())));`
Which can be simplified as follows:
`Cause.source(EntitySpawnCause.builder().entity(creeper).type(SpawnTypes.PLUGIN).build()).build();`

Since the new `Cause` refactor

[2016-03-23 10:00] Tzky commented on #209
What's the status of this issue?

[2016-03-24 10:28] gabizou opened #469 "[WIP] Document Cause Tracking"
Currently, Cause Tracking is a system that is poorly understood outside of those who are well initiated (and even then some people don't even know how the new system works in the SpongePowered/SpongeCommon#503 PR).

To illuminate some people, not only for developers of the Sponge project as a whole, but to plugin developers and server administrators alike, I'd like to dump as much information as p

[2016-03-24 18:54] Minecrell commented on #209
Closing for the reasons explained in https://github.com/SpongePowered/SpongeForge/issues/377#issuecomment-193343570, this will be replaced by something in SpongeGradle which will then be added to the SpongeGradle docs introduced with #456

[2016-03-24 18:54] #209 closed

[2016-03-24 20:40] gabizou commented on #469
@SpongePowered/developers I'd like to know what you guys do not know or would like to know a certain part of it.

[2016-03-25 08:25] Inscrutable commented on #457
I'd like to get this sorted soon, as [the demand for art assets is growing](https://www.reddit.com/r/spongeproject/comments/4btgtt/sponge_marketing_material/). We'll want to offer a vector Spongie, Icon, and Logo (with text) on the art assets page. Is there any point offering a few sizes of .png/.jpg files too? This was originally mulled over in #346

[2016-03-25 14:34] RobertHerhold commented on #201
@12AwsomeMan34 How is the [feature/flags](https://github.com/SpongePowered/SpongeDocs/tree/feature/flags) branch coming along? Are you still working on it?

[2016-03-25 15:06] 12AwsomeMan34 commented on #201
It's nearly finished. There's still a couple of topics to poke at and some cleanup to do. Should be ready for review sometime this weekend.

[2016-03-25 16:02] Tzky commented on #457
Closing this as #470 will solve the issue, once pulled it.

[2016-03-25 16:02] #457 closed

[2016-03-28 07:21] theboomer opened #472 "Event help pages lack details on Priorities (explanations, how to use)"
Event sections refer to Priority but do not include an example anywhere of how the priority is set in the code.  Please add an example usage, outline of the priority modes.

[2016-03-28 20:52] 12AwsomeMan34 commented on #472
[It does so here.](https://docs.spongepowered.org/master/en/plugin/event/listeners.html#about-listener) Although there isn't really a code example for it. It probably wasn't included due to it being fairly standard:
`@Listener(order = Order.EARLY)`

[2016-03-29 01:00] Inscrutable commented on #472
Including the word "Priority" in the description would help, too.

[2016-03-29 01:11] theboomer commented on #472
Note as well then that section says "There are a few configurable fields" and just states "order"... does that mean that the other configurable fields are __that much more standard__ that they dont even need to be mentioned cause duh, they're so obvious?

[2016-03-29 01:31] 12AwsomeMan34 commented on #472
There's also `beforeModifications`, which is really just
`@Listener(beforeModifications = true)`

The javadocs for it state
`Whether this listener should be called before any other server mods, such as Forge mods. All Sponge event listeners are called after mods, unless they specify the {@link #beforeModifications()} flag to be true.`
if anyone wants to add it to the list.

[2016-03-29 21:36] #472 closed

[2016-03-30 09:53] NodonDarkEye opened #473 "PDF-version of documentation"
Hello sponge community,

I noticed that there isn't a PDF version of the documentation. This could be of much help for me since I spend alot of time on public transportation without internet and i still would like to read it.
Maybe this could be interesting for other people aswell, I don't know.

Greeting Nodon Darkeye

[2016-03-30 14:23] NodonDarkEye commented on #473
I've now gotten the spongedocs localy and just use them that way, but still a PDF version would be interesting I think

[2016-03-30 18:10] Tzky commented on #473
I agree that having a downloadable version of the Docs in PDF format would be a great addition.
Docs staff will consider this and also check if and how it's doable with our current buildsystem.

But please note that this is a rather low priority issue, as our main focus is to get the docs done ;)

[2016-03-30 19:39] #278 closed

[2016-04-01 00:22] simon816 commented on #473
Just noticed that sphinx has support for LaTeX, epub and more, https://github.com/SpongePowered/SpongeDocs/blob/master/make.bat#L116-L130
I don't know how translation files work if that's important but a PDF looks pretty doable.

[2016-04-01 08:25] Tzky commented on #473
I investigated a bit: the LaTeX route would require a full LaTeX installation on travis. My guess is that this would lengthen the build time by a lot.

The other option is ``rst2pdf``, however i read that the output of LaTeX looks a bit more beautiful. We'll have to try both and decide afterwards.

[2016-04-02 13:50] 12AwsomeMan34 commented on #192
I'd imagine that the above PR will become obsolete once https://github.com/SpongePowered/SpongeAPI/pull/1088 is merged.

@windy1 do you plan to tackle this, seeing as that is your PR (once it's merged, of course)?

[2016-04-02 14:41] windy1 commented on #192
Yes I will once it's merged however I'm not sure when that'll be since that PR has kind of taken a back seat lately.

[2016-04-06 01:30] RobertHerhold commented on #201
Resolved in fbfd67a

[2016-04-06 01:30] #201 closed

[2016-04-10 18:33] #468 closed

[2016-04-21 17:41] gabizou opened #479 "Add more cases to Debugging"
With [this patch](https://github.com/SpongePowered/SpongeForge/commit/792c83afc40d5137c8a4441c7af1be26d17afb40#diff-a0c9ef73ed6da1c51b27826221f225bcR48), I've made the server hard crash with a very pretty exception trace to explain _why_ it crashed. It should look similar to this:

[code]

The thing is, since it is Forge specific (as there are no cases that vanilla is causing a null to be added to

[2016-04-21 20:07] kashike commented on #479
The "pretty" error above has text squashed: `NBTTagCompound.Our`, `certain mods arenot`.
It would also be good, in my opinion, to put a new line between the description and the `NBT Key:`, and between `NBT Key:` and the `Exception` (why does it have an `!`?)

[2016-04-21 20:12] gabizou commented on #479
That's more of a thing in the implementation to fix ;) But the plain idea is sound.

[2016-04-22 10:10] #465 closed

[2016-04-22 13:57] ryantheleach opened #480 "Potential Pitfall for the scheduler."
[code]

I need to head to bed, but figured I'd chuck this here so it got added eventually.

[2016-04-25 21:47] gabizou opened #482 "Document Sponge Added Optimizations"
We should be documenting the optimizations, not only in the config, but also on the docs. Note that a lot of optimizations are version dependent so some of them may exist in one version, and are removed in the next.

To get started:

SpongeForge 1.8.9
- [x]  EntityActivation - Changes the activation ranges to be user configurable. These are world dependent and should work with all mod added entiti

[2016-04-26 12:21] Inscrutable commented on #482
The entity activation stuff is already described to some extent in the table on the [sponge.conf page](https://docs.spongepowered.org/master/en/server/getting-started/configuration/sponge-conf.html). Note: that page probably needs updating for API 4.X too ...
Are all these new optimisations configurable in the sponge.conf file(s)?
If we do add a new page, it should probably be called _Optimisation

[2016-04-26 19:57] 12AwsomeMan34 commented on #482
I believe I checked that page for updates and iirc it didn't need changing -> 4.0. I guess I forgot to tick the build number and version at the time of 4.0. It's been a while though, so I'll have to verify that when I get some time.

One question from myself: Were any of these optimizations present in the 4.0 release?

[2016-04-26 20:08] 12AwsomeMan34 opened #483 "Mention dependency annotation"
The `@Dependency` annotation and how to properly add dependencies is currently not present on the [plugin class page](https://docs.spongepowered.org/master/en/plugin/plugin-class.html).

I might get around to it, but my time is limited atm. I've opened this as a reminder for myself, or if anyone else gets bored and wants to try their hand at it.

Edit: On a second thought, it is mentioned on the [

[2016-04-26 20:55] gabizou commented on #482
The only optimization that I know of in the 4.0 release was entity activation. Everything else was added in 4.1+.

[2016-05-11 11:51] Inscrutable commented on #335
Custom Data changes [here](https://github.com/SpongePowered/SpongeAPI/pull/1198/files#diff-6ddb89b71407d27dea43a2c31f93bab0R12) and [here](https://github.com/SpongePowered/SpongeAPI/pull/1198/files#diff-b7b5d3ae4a644dd27cce28c70981b1cbR16). "those two should basically suffice document writing" gabizou assures me...
Also, if @saladoc is indisposed, we might need someone new to take control of this

[2016-05-13 11:22] Katrix- opened #488 "Document how stuff implementing DataSerializable serializes to config for"
Making an issue here so that discussion on this can be done here instead on the forums.

Link with idea: https://forums.spongepowered.org/t/lets-get-chat-formatting-right/12613/17?u=katrix

Copy-Paste from thread:
The second thing I think we need to think about is a bit documentation. I'm not talking about plugin documentation or developer documentation. What I've more referring to here is documen

[2016-05-13 12:30] Inscrutable commented on #488
This could use a more meaningful title, and some context from the thread. It might get a page in the docs _if_ I can just figure out *what* is being requested, and where. Paging @ryantheleach for some assistance...

[2016-05-13 13:17] Katrix- commented on #488
I'm not good with titles or names :(

The main idea here is to provide documentation for users that does not rely on the assumption that the person reading the docs is a developer, but instead an user wanting to run a Sponge server.

Just because they are are user doesn't mean that they won't run in `Text`, `TextTexmplate` and other `DataSerializable`. Instead they will find these most of the time

[2016-05-13 14:39] ryantheleach commented on #488
I might look at this but first I need to fix my workspace, test kashikes annotated commands. fix the config docs, finish the ray tracing docs.

[2016-05-13 15:19] RobertHerhold commented on #488
@ryantheleach What needs done with Ray tracing? I thought I included everything

[2016-05-13 20:35] #458 closed

[2016-05-13 20:36] RobertHerhold commented on #461
Resolved in 8b7f1f19b146f1900e5805594195a004e46133fa

[2016-05-13 20:36] #461 closed

[2016-05-14 03:04] #460 closed

[2016-05-14 06:48] ryantheleach commented on #488
Yo might have fixed it up since i last looked.

[2016-05-14 07:05] gabizou commented on #488
I think the issue should be renamed so as to not be confused with `DataSerializable`s versus `ConfigSerializable`s (or registered through `TypeSerializer`s).

[2016-05-14 17:58] #483 closed

[2016-05-15 01:12] Inscrutable opened #492 "Document sponge plugins reload command"
Zidane has added GameReloadEvent to SpongeAPI, and the command /sponge plugins reload. It's already been pushed to [master](https://github.com/SpongePowered/SpongeCommon/commit/5e2ce74d61345aa45aabd13affaaf967549dbb07). The docs needs to strongly encourage the use of this event (so we don't get everyone adding their own reload command).

[2016-05-15 02:00] 12AwsomeMan34 opened #493 "4.1.0 / 5.0 Checklist"
5.0 (might) still be a ways off yet, but that doesn't mean we could do without another checklist!
This issue is to keep track of any possible docs changes that are present in API 5.0.

I'll be using the compare diff from `release-4.0.0` branch to `bleeding` to see the changes:
https://github.com/SpongePowered/SpongeAPI/compare/release-4.0.0...bleeding

Stuff that's strike-through is stuff that wil

[2016-05-15 03:36] Zidane commented on #493
@12AwsomeMan34

WorldCreationSettings is now WorldArchetype. You now must pass a WorldProperties to WorldArchetype.builder().from() to build a WorldArchetype from WorldProperties.

Basically WorldArchetype is a blueprint FOR a World itself and is a CatalogType in API 5.

Lemme know if you need other things explained. There are more API breaks to come.

[2016-05-15 08:13] Tzky commented on #492
Just for clarification:

This doesn *not* reload the whole plugin but the plugins config, right?

[2016-05-15 08:43] gabizou commented on #493
I am somewhat of the opinion that some differentiation should be made as to what API was added in 4.1 versus 5.0. I notice that some of the API additions mentioned are actually added in 4.1-SNAPSHOT.

[2016-05-15 09:05] Tzky commented on #493
We can bump the Docs to 4.1 and add all 4.x changes to it, if you want us to. Usually we try to stick to full releases on the Docs, that's why we're still on 4.0.3.

[2016-05-15 12:44] 12AwsomeMan34 commented on #492
[code]
Also according the commit message here https://github.com/SpongePowered/SpongeAPI/commit/b81b646c3e2ebb3a24ab2253f27398814b475834, it's up to the plugin as to what gets reloaded with it, config or otherwise.

[2016-05-15 12:51] 12AwsomeMan34 commented on #493
Yeah, this is largely a general update list. I could go through those and see which ones are on master for a proper differentiation on 4.1 vs 5.0.

[2016-05-15 15:46] Zidane commented on #492
As an amendum to the above, its now /sponge plugins reload

[2016-05-15 19:59] ryantheleach commented on #492
By default, it does nothing. Plugins can choose to act on it if they wish.

[2016-05-19 08:34] Tzky opened #494 "Document ``/sponge tps`` command"
Sponge has a command to show TPS now (it's on master branch). I'll just quote
@Zidane here:

[2016-05-20 10:06] #494 closed

[2016-05-20 10:08] Inscrutable commented on #492
This will get a mention on the server commands page soon, but more importantly it needs a mention somewhere in the plugin development section. Does it justify a new page, or can it be tacked onto an existing one?

[2016-05-20 13:35] Zidane commented on #492
No reason for a new page as its just a way to call an event with a contract assumption that one performs a "reload" in it :).

[2016-05-21 04:42] Inscrutable commented on #492
In the commit, it looks like the permission for it (and the description) is the same as /sponge plugins. This may prove a problem for server owners who'd like to let players see the plugins list but not execute reload....

[2016-05-22 11:22] Inscrutable commented on #492
This is due some minor perm changes, possibly to ``sponge.plugins.reload`` (or more logically, it could just share ``sponge.command.reload``, or be a subsidiary node of that).

[2016-05-22 12:08] simon816 commented on #492
The permission was fixed and changed to `sponge.command.plugins.reload`
https://github.com/SpongePowered/SpongeCommon/commit/0eccbc74272f473b07aec1788a3ad072bc3618f0

[2016-05-23 08:23] Inscrutable commented on #492
Yeah, I'm aware of that @simon816 - I was talking to Zidane yersterday, and further changes were proposed. Technically ``sponge.command.plugins.reload`` is a parent of ``sponge.command.plugins``, and would get included unless specifically denied. If nothing happens, I'll go with ``sponge.command.plugins.reload``.

[2016-05-23 08:28] Inscrutable opened #497 "Mob Spawn Range feature"
Mob-spawn-range was recently added to the World config file, in the worlds section, with a helpful description. In short, it simply lets you configure the range in which mobs spawn around a player. Lower values = mobs spawn densely near you; Higher values = mob spawns are more spread out. This value is CAPPED to your server's view distance.

[2016-05-23 18:00] 12AwsomeMan34 commented on #497
As per the (so far) usual, I'll handle this along with the global.conf file update.

[2016-05-24 11:43] Inscrutable commented on #492
OK, unless anything else changes, all this needs is a mention in the plugin/events hierarchy (perhaps the index) to reminds folks that it's there and please use it.

[2016-05-24 11:46] Inscrutable commented on #233
Can anyone give an update on this? Is the issue still relevant?

[2016-05-24 11:52] Minecrell commented on #233
This is covered by https://docs.spongepowered.org/master/en/plugin/project/gradle.html, IMO

[2016-05-24 11:52] #233 closed

[2016-05-29 16:05] 12AwsomeMan34 commented on #492
The plugin side of this new command has been handled in https://github.com/SpongePowered/SpongeDocs/commit/fd747227ce007a82ecc7a9957dbc1f653d87d58b.

[2016-05-29 16:06] 12AwsomeMan34 commented on #497
Covered in #498.

[2016-05-31 18:43] doozzik opened #501 "Sponge-1370 not working with Forge-1890"
I copied "spongeforge-1.8.9-1890-4.1.0-BETA-1370.jar" to mods folder and started "forge-1.8.9-11.15.1.1890-1.8.9-universal.jar". I got error, which says that this versions is incompatible.
Older version of sponge, 1368, works good.

http://pastebin.com/YfLLEsQL

[2016-05-31 18:43] #501 closed

[2016-06-02 09:40] Inscrutable opened #502 "Show off Hovertext and tab-completion"
There are some nifty features provided by the Sponge implementations (SV and SF) that make things easy for users and admins. For example, the `/sponge plugins` command provides a list of plugins in-game that will reveal their version when Hovering over the name.
Similarly, tab auto-completion works reasonably well with `/sponge` commands, in-game and via console.
I didn't see any reference to thes

[2016-06-02 12:42] Mumfrey commented on #502
I preferred your original issue title.

[2016-06-02 13:47] 12AwsomeMan34 commented on #502
`TextActions` are mentioned [here](https://docs.spongepowered.org/master/en/plugin/text/text.html#example-text-with-an-action), and they can [show text](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/text/action/TextActions.java#L111) to the client when hovered.

I believe tab-completion on commands is automatic, unless you use [CommandCallable](https://

[2016-06-02 15:56] Tzky opened #503 "Document auto-save feature"
Blood recently added auto-saving (configurable!) for dedicated servers. We need to document that for API 4.1 as it's on master branch.

Commit with detailed description:
https://github.com/SpongePowered/SpongeCommon/commit/5afad37c96b825b9db7eb06cba52a02b4a856bea

[2016-06-03 00:00] ryantheleach commented on #503
What he added was control over the default auto-saving that already happens in Minecraft.

By default Minecraft will periodically save loaded/open chunks, this allows you to disable that, or change the timing.

One thing I'm not 100% sure about, is whether the game saves in any other way. e.g. is the auto-saves also when the unloaded dirty chunks get saved?
Or do they get cleaned up soon after unl

[2016-06-03 00:34] ryantheleach commented on #502
I think inscrutable was talking about in the admin/user pages, not the dev pages.

[2016-06-03 09:11] Inscrutable commented on #502
Yeah, this is all bragging rights for user-facing pages, as these are just ease-of-use features. They're pretty neat, and yet not mentioned in our docs. Whilst vanilla MC does have some hover stuff, it doesn't have plugins to have versions.
As for tab-completion, not all plugins (or mods) do a good job (eg PEX), but Sponge does it well imho.

[2016-06-04 02:21] bloodmc commented on #503
It only affects vanilla's autosave feature which is for "loaded" chunks and runs every 900 ticks(45 seconds) unless changed. Unloaded chunks will always save. I'll add a new config option to disable saving completely soon but it wont have anything to do with "autosave".

[2016-06-04 12:03] JamieS1211 opened #504 "getBlock().toString() returns wrong info for lightblue blocks"
When using
`String block = player.getLocation().sub(0, 1, 0).getBlock().toString();`

I noticed for lightblue blocks the color data returned is `[color=light_blue]` but should be `[color=lightblue]`

[2016-06-04 12:32] JamieS1211 commented on #504
Moved to sponge common

[2016-06-04 12:32] #504 closed

[2016-06-06 07:35] ryantheleach opened #505 "Document world border changes"
https://github.com/SpongePowered/SpongeForge/issues/650

Sponge separates out the world borders so they can work with multiple worlds. As a side effect this probably affects the nether and end.

[2016-06-06 08:56] Inscrutable commented on #505
OK. Does setting one in the _overworld_ also set a corresponding one in the _nether_ and the _end_? Default vanilla behaviour is ``The world border's dimensions and location are the same across all three dimensions``.
We should probably include some examples when we document this.

[2016-06-06 11:12] ryantheleach commented on #505
I don't know.

[2016-06-06 13:38] #497 closed

[2016-06-06 13:39] #492 closed

[2016-06-06 15:29] gabizou commented on #505
@Zidane can answer!

[2016-06-06 17:08] Zidane commented on #505
The worldborder command now affects only the world you execute it in.

I'll likely roll that change back and have it affect all worlds by default. Then with the Multi-World commands PR, you can toggle on per world commands as you please.

[2016-06-08 09:09] Inscrutable commented on #482
After discussion with @12AwsomeMan34 , we think a new page showing off the bonus features of Sponge implementations would be a good thing. It should mention all-of-the-above (insofar as it pertains to 4.1.0 API versions), and probably deal with #502 as well. "Streamlining Sponge", perhaps? ;)

[2016-06-08 16:45] gabizou opened #506 "Expose Sponge provided packet protocol"
Sponge uses a custom payload packet with the channel `sponge` to perform various things. Currently, it's limited (in both 1.8.9 and 1.9.x) to request and receive block/entity ownership information. This does perform a server side permission check, but custom clients would be able to request this sort of information without requiring say SpongeForge on the client.

I'm not 100% whether we should bo

[2016-06-09 15:09] RobertHerhold opened #507 "Document Schematics"
[API Branch](https://github.com/SpongePowered/SpongeAPI/tree/feature/schematics)
[SpongeCommon Branch](https://github.com/SpongePowered/SpongeCommon/tree/feature/schematics)

[2016-06-09 17:28] Deamon5550 commented on #507
Also https://github.com/SpongePowered/Schematic-Specification/blob/master/versions/schematic-1.md

[2016-06-11 16:57] randombyte-developer opened #508 "GameReloadEvent trigger command"
The command `/sponge plugins reload`([here](https://docs.spongepowered.org/master/en/server/spongineer/commands.html#sponge)) should be mentioned or linked in [this document](https://docs.spongepowered.org/master/en/plugin/event/listeners.html#gamereloadevent). I searched a bit to find how to actually test if my plugin does react on the GameReloadEvent.

[2016-06-12 01:14] 12AwsomeMan34 commented on #508
Yeah, that's probably a good idea. :P Sorry for the trouble it cause ye.

[2016-06-12 01:25] #508 closed

[2016-06-14 14:09] 12AwsomeMan34 opened #512 "Warning of outdated class/interface/method references"
With #511 recently having been made, the idea has sprouted that if a link to a class/interface/method breaks (i.e. arguments change, package change, etc.) then it will be rather difficult to keep track of all of these breakages each time the docs do a big update.

Basically what I hope to accomplish, is that a second extension be made that automatically checks all javadoc links and import statemen

[2016-06-28 14:10] Inscrutable commented on #136
Bumping this because it could really use some attention.
@zml2008 will you be able to help us get this out of the way?

[2016-06-28 19:20] zml2008 commented on #136
Not right away -- also there are a few changes to the permissions API coming in in v5 (regarding default data specifically) that would be useful to incorporate.

[2016-07-03 00:42] 20zinnm opened #514 "[minor] Asset API"
`Asset asset = plugin.getAsset("myfile.txt");` and `Asset asset = Sponge.getAssetManager().getAsset(plugin, "myfile.txt");` both return `Optional<Asset>` while the docs make it seem as though it's a straight reference, returning `Asset`.

[2016-07-05 16:24] 12AwsomeMan34 commented on #514
Yep. I'll likely fix it with #511, as that already has a few fixes for parts of the docs anyway.

[2016-07-05 17:07] 12AwsomeMan34 commented on #514
Should be resolved as of https://github.com/SpongePowered/SpongeDocs/pull/511/commits/151d688b440b64f9d24e13b32b20ecac2665bfb9 and in the docs when #511 is pulled.

[2016-07-05 17:07] #514 closed

[2016-07-07 14:40] ryantheleach opened #515 "[5.0.0] Is Data API still unimplemented?"
https://docs.spongepowered.org/master/en/plugin/data/index.html Has a warning about the Data API being somewhat unimplemented.

I believe it's close to being untrue, so created an issue to track it so it's not forgotten.

[2016-07-08 09:11] Inscrutable commented on #515
Things have evolved somewhat, but we still lack decent docs for Data (Issue #335 has stalled, as Saladoc is on extended hiatus). I agree it needs updating. Who understands it enough to have a go at finishing this?

[2016-07-15 14:57] 20zinnm commented on #227
I'm on it, @boformer :smile:

[2016-07-15 15:34] Tzky commented on #482
Ticked of the items on the list which were resolved in #509.

[2016-07-15 15:35] Tzky commented on #503
Resolved with #509.

[2016-07-15 15:35] #503 closed

[2016-07-15 16:45] kinggoesgaming commented on #227
Also plugin instance injection is also possible, and could be mentioned

[2016-07-18 19:54] evilmidget38 opened #517 "Bukkit and Sponge comparison spreadsheet is outdated"
As I'm now starting up my first Sponge plugin, I found [this spreadsheet](https://docs.google.com/spreadsheets/d/1phlRmbPHCVhRIaZBi9xMjUuiDQkW-j8rSEV_tQnD47E/edit#gid=0) in the documentation.  Looking at it I actually almost gave up, as it makes it appear as if Sponge lacks a majority of the functionality available in Bukkit.  It looks like it was last updated for SpongeAPI 3, and I sort of suspec

[2016-07-18 20:09] Deamon5550 commented on #517
In my opinion that spreadsheet should not be linked from our docs, a class to class mapping is almost useless and really does give a bad view into what is in sponge. A new user of the api is far better off looking though the docs for concepts rather than direct api translations. There are only a few subsets of this class list that are actually useful such as the events.

[2016-07-19 16:33] Tzky commented on #517
This list was never meant to be for a direct comparison of the two APIs. As you might have figured out by now Bukkit and SpongeAPI are fundamentally different, but are still sharing some equivalent events and some othe stuff.

Of course Sponge is not lacking functionality when you compare it with Bukkit, but some things are way different and thus we just can't name a direct equivalent.

I also agr

[2016-07-24 03:45] RobertHerhold commented on #449
@gabizou What is the difference in [damage types](https://github.com/SpongePowered/SpongeAPI/blob/835294849eddf481aa672d6fb6d784452dd4a396/src/main/java/org/spongepowered/api/event/cause/entity/damage/DamageTypes.java) between `GENERIC` and `CUSTOM`?

[2016-07-25 18:32] MarkL4YG opened #518 "Basic documentation of UserStorageService"
I recently wrote a plugin that disconnects users without a certain permission on join.
Since the ClientConnectionEvent.Join wouldn't let me kick a player without something crashing on me I used .Auth instead.
Since this event is very early, a Player instance is not yet available thus one needs to use  the UserStorageService.

---

**_The thing is**_: There's no clue that this service exists and ca

[2016-07-26 10:02] Inscrutable commented on #518
We would be absolutely delighted to see what you can offer as a PR. If you throw something in our direction, I'm sure our staff and a few roaming devs will review it and comment as required. It doesn't have to be perfect, just be familiar with our Style Guide (it's on the docs!) and show us what you can do.
Go on, jump in and get your feet wet!

[2016-07-27 09:37] Inscrutable commented on #517
What we really need is a series of tutorials to show how to re-implement bukkit things using SpongeAPI. That will take a lot of work, and may go stale relatively quickly until the API stabilises a bit (there's already an old issue for it too, #157 ). However, if no-one is getting practical use from this list, and it's out of date, then there's not much point having it on Docs for API 4.X onwards a

[2016-07-28 13:48] 20zinnm commented on #517
@Inscrutable We were working on one (aniskywalker.com). It's not so much a direct transition as a "Plugin Tutorial" like Bukkit had.

[2016-07-31 14:36] 20zinnm opened #521 "Forge Version to SpongeForge Version Chart"
In the IRC channel, we get a lot of "bugs" that are usually resolved by switching either Forge or SpongeForge versions. It'd be nice to have a chart with the latest build number that works on any given Forge version; this might need to be auto-generated. I feel like a CI could do this.

[2016-07-31 14:47] RobertHerhold commented on #521
There is already a page on the docs explaining how to pick the appropriate version of Forge based on your build of SpongeForge...

[2016-07-31 14:48] 20zinnm commented on #521
Oh, there is? Could we update khobbit's Lain with a .forgeversion or something?

[2016-07-31 15:01] RobertHerhold commented on #521
The page in question is [here](https://docs.spongepowered.org/master/en/server/getting-started/implementations/spongeforge.html).

[2016-07-31 16:33] Tzky commented on #521
Afaik that page doesn't explain API version to plugin versioning. But there definitely is a page that tells users to always match versions as using different versions will usually lead to issues.

[2016-08-03 19:14] 20zinnm opened #522 "Configuration Loaders (loading default config) outdated"
On the Configuration Loaders page, the loading a default configuration section is outdated. It can be found [here](https://docs.spongepowered.org/master/en/plugin/configuration/loaders.html#example-loading-a-default-config-from-the-plugin-jar-file).

This is outdated in favor of the Assets API.

[2016-08-03 20:47] 12AwsomeMan34 commented on #522
For reference https://github.com/SpongePowered/SpongeDocs/pull/439#discussion_r55923342.

[2016-08-07 16:46] #127 closed

[2016-08-07 17:54] windy1 opened #523 "Ore help / API information"
With Ore nearing Beta, I think it's time we start some of the documentation for Ore. Namely we need a help page (mainly for creating a new project from building your project to publishing it) and a API documentation page. If someone would like to start on these that would be great and I can answer any questions anyone on the docs team may have.

For reference, here are all the current API routes a

[2016-08-08 09:15] Inscrutable commented on #523
Excellent. For reference, this also covers issue #8 - the oldest live issue on the SpongeDocs repo.
The help page will need basic instructions for uploaders (devs) and downloaders (users). This will also need some expanded rules/guidelines for use of Ore, so I hope @mbax can add some specifics.
We won't make the page *live* until you give us the nod that Ore is ready for the big-time.

[2016-08-08 23:57] kinggoesgaming commented on #523
@Inscrutable I am working on a 3rd commandline java program for ore.. I can document the API parts as I get it through

[2016-08-10 08:32] FabioZumbi12 commented on #139
Is implemented? Only need docs? We can start to use to create custom inventory guis?
Thanks.

[2016-08-10 09:19] Inscrutable commented on #139
*Some* of it has been implemented, and some is still WIP. If you want to volunteer and help document the bits that are currently working, we would be delighted.

_I'm not sure what parts are functional,
we could use a summary of some kind.
@Mumfrey could you kindly bring us all
up to speed on this rather ancient bind?_

[2016-08-11 11:12] varrix opened #524 "Minor typo in Plugin Metadata example"
This is a minor typo in the code example for Plugin Metadata for Sponge.
Picture of said page at the time:
![02e8e801d3c940bcae63ef7233baf383](https://cloud.githubusercontent.com/assets/2670212/17586936/e3707d4a-5f92-11e6-83fa-c7624d2dfad0.png)

URL: https://docs.spongepowered.org/master/en/plugin/plugin-meta.html

[2016-08-11 11:55] 12AwsomeMan34 commented on #524
Uhh, no. It's closing the opening ( from `@Plugin`. Also, report minor typos to the OCD issue.

[2016-08-11 11:55] #524 closed

[2016-08-11 11:56] varrix commented on #524
Oh, hah! Thanks, my bad xD

[2016-08-11 14:10] #521 closed

[2016-08-12 19:43] FabioZumbi12 commented on #139
I trying to use this on my plugin:

[code]
But i still getting the message: Could not find a Supplier for the provided builder class: org.spongepowered.api.item.inventory.custom.CustomInventory.Builder

Is this te correct or i forgetting some part of API?

[2016-08-12 21:21] 12AwsomeMan34 commented on #139
It's not implemented. There's a PR currently sitting at https://github.com/SpongePowered/SpongeAPI/pull/1258 and will possibly be merged before 5.0 is released. Until then, I wouldn't bother using custom inventories as they're going to be changed with the PR.

Also, your error shouldn't be posted on the *SpongeDocs*. This is the wrong place to find support. Follow the PR for updates on the refacto

[2016-08-15 12:54] 5igm opened #525 "Error feedback about death event."
After death, inventory is keeped, although keepinventory is setted false.
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-15 12:59] Minecrell commented on #525
This is the wrong repo for SpongeForge issues, please re-open this at https://github.com/SpongePowered/SpongeForge/issues.

Also you posted a completely different error which is unrelated to the issue you mentioned - is there anything else in the console?

[2016-08-15 12:59] #525 closed

[2016-08-15 13:22] 5igm commented on #525
I installed gravestone mod in my server. After death, inventory is keeped, although keepinventory is setted false.

[2016-08-25 17:15] Deamon5550 commented on #507
This is merged now so I'll try to write something up for it soon, unless someone else wants to.

[2016-09-02 15:26] Inscrutable commented on #517
There has been some [feedback recently in support of the table](https://forums.spongepowered.org/t/sponge-status-update-25th-august-2016/14365/9?u=inscrutable), but unless there are volunteers to make it useful again it's still a dead duck.

[2016-09-11 16:26] 12AwsomeMan34 commented on #512
This is now sitting as a separate script - https://github.com/12AwsomeMan34/jdlinker-parser.
Instead of a second extension, it's easier to use sphinx-JDLinker's JavaDoc dump to get all of the JavaDoc links and their locations.
The script does not check code imports in the docs, but that probably doesn't matter too much since some of the imports sit as JavaDoc links anyway.

[2016-09-11 16:26] #512 closed

[2016-09-16 12:04] Minecrell commented on #438
SpongeGradle sets this automatically for all plugins, so setting this manually is longer necessary.

[2016-09-16 12:04] #438 closed

[2016-09-17 14:34] Inscrutable commented on #165
This was mentioned in the recent "behind the mod" interview... yet it's still blank :P
It would be nice to actually have some concrete docs on the Sponge Scoreboard API someday @Aaron1011 ;)   Just throw us what you have and we'll edit into coherence.

[2016-09-18 00:03] Deamon5550 opened #534 "Add documentation for virtual biomes"
Ref: https://github.com/SpongePowered/SpongeAPI/pull/1352

Some basic docs on creating custom virtual biomes would be a helpful addendum to the current world gen docs. Mostly a note for myself.

[2016-10-08 09:35] Inscrutable commented on #32
With luck we may get some traction on this ancient issue from [this](https://github.com/SpongePowered/SpongeAPI/issues/1383).

[2016-10-08 10:14] ST-DDT commented on #32
I'm not sure whether I should wait for that issue to be resolved, but I would offer my help to create the page. Should I wait or shall I create the documentation in parallel?

[2016-10-08 19:22] Tzky commented on #32
I'd say that's up to you. If you're willing to start right now, just go ahead and open a PR.

[2016-10-09 06:43] Inscrutable commented on #32
The Docs are here to describe the way it *is*, so feel free to begin anytime. People need to get to grips with the current API, warts and all. If changes happen, they'll belong in a later revision.

[2016-10-09 07:15] Tzky commented on #32
Well, i'd say that the PR will target 5.0.0 anyways, as we're on our way to a 5.0.0 release. So the latest changes do matter in this case.

[2016-10-16 05:50] Inscrutable opened #537 "Versioning info for Contributing is out of date"
The page refers to the entirely phantasmal `release` branch. The target has also shifted: From hereon, all active development should target the bleeding branch. If it is a backwards compatible bug-fix then we will handle cherry-picking it to previously supported versions once it is merged to bleeding.
The whole page could use a review to ensure it's still in line with current practice.

https://gi

[2016-10-16 12:01] Tzky commented on #537
Ok, so if i got this right, Sponge development is currently happening as follows:
* all new additions target ``bleeding``, next *major* version development happens here
* ``master`` holds the current release and possibly next *minor* version
* ``release/x.y.z`` branches are no longer in use

[2016-10-16 19:16] Deamon5550 commented on #537
Master is going to go away I think, I'll write this up once we've settled on our plan.

[2016-11-02 06:59] ZephireNZ commented on #537
Seeing as it's not been written up, this is the plan as I understand it:

- all new additions target `bleeding`. *Major* releases will be done from this branch.
- `stable-x(.x.x)` holds the stable release version(s). Changes that are non-breaking and that are sufficiently tested in the `bleeding` branch will be cherry-picked here. *Minor* releases will be done from this branch. Potentially allows

[2016-11-02 07:47] Deamon5550 commented on #537
@ZephireNZ yeah that looks good, sorry I overlooked this.

[2016-11-02 07:49] Inscrutable opened #541 "NEVER Store direct references to entities in Sets/Maps in plugins"
Referring to [this important PSA](https://forums.spongepowered.org/t/do-not-store-player-entity-references-in-maps-sets-directly/15513) we need to document this to prevent plugins causing memory leaks. This could get a mention in "Best Practices" and/or a relevant Data page.

[2016-11-02 07:55] ryantheleach commented on #541
It's not just sets/maps btw, it was just the dumb example I happened to give at the time.

Really any references to players should be looked at carefully to make sure they leave scope.
It's just that it most commonly goes out of control in Collections.

[2016-11-05 11:02] #537 closed

[2016-11-05 13:47] Inscrutable commented on #517
@evilmidget38 and @20zinnm if you want to resurrect the Sponge <-> Bukkit comparison table, step forward and make a PR. Otherwise, it will be gracefully retired very soon. It might be easier and more productive to help fill in missing docs explaining how to use the new SpongeAPI, as the differences between it and Bukkit now are acute.

[2016-11-06 12:47] ST-DDT commented on #434
Just a little link to the API stuff: https://github.com/SpongePowered/SpongeAPI/tree/bleeding/src/main/java/org/spongepowered/api/item/merchant

[2016-11-06 16:59] ST-DDT commented on #507
Any progress on this one? I would like to use the Schematic-API in one of my plugins.
@Deamon5550 If you don't have time for it or if you have more important things to do, then I could try to figure this out myself and create the docs from my gained experience. Then you would only have to improve my draft.

[2016-11-06 17:04] agarb7 opened #547 "infinite-water-source=false doesn't work"
Config option `infinite-water-source=false` doesn't work.

Demo of problem: http://www.filehosting.org/file/details/616081/2016-11-07_00-53-45.mp4

Mods set:
![javaw_2016-11-07_01-02-38](https://cloud.githubusercontent.com/assets/8955838/20039818/028def54-a486-11e6-8ab1-17be66c07373.png)
![javaw_2016-11-07_01-03-27](https://cloud.githubusercontent.com/assets/8955838/20039819/030a1db8-a486-11e6-9e0

[2016-11-06 17:08] #547 closed

[2016-11-06 17:17] ST-DDT commented on #192
The latest variant is currently [this #1224](https://github.com/SpongePowered/SpongeAPI/pull/1224).
However its still not implemented.

[2016-11-06 17:21] ST-DDT commented on #136
Is this covered by: https://github.com/SpongePowered/SpongeDocs/pull/536
Or is there anything missing for that?

[2016-11-06 21:36] Deamon5550 commented on #507
@ST-DDT sure if you'd like its pretty simple to use. [Here is a nice example I wrote in the Cookbook](https://github.com/SpongePowered/Cookbook/blob/master/Plugin/CopyPasta/src/main/java/org/spongepowered/cookbook/plugin/CopyPasta.java#L136).

[2016-11-07 21:27] ustc-zzzz opened #548 "Duplicated or deprecated HTML pages"
I am a translator for the Chinese Simplified Translation of the SpongeDocs. I recently found that there are many duplicated or deprecated `.html` or `.po` pages in the docs, while they do not exist in the GitHub repo.

Here is a screenshot for the [Chinese Simplified Translation page](https://translate.spongepowered.org/project/sponge-docs/zh-CN#):
![screenshot](https://cloud.githubusercontent.com

[2016-11-08 08:38] Inscrutable commented on #548
Sometimes the older translated pages may be useful to provide suggested translations for the new pages, but they have no use beyond that. This issue has come up before (as #150). We may need to either manually crop older .po files, or try developing some sort of script to crop the redundant ones. Any suggestions, @Tzky @ryantheleach ?

[2016-11-08 15:14] Tzky commented on #548
First and foremost: thanks for translating our docs into chinese!

We're aware that Crowdin is hosting older (now unused) files. However simply deleting them isn't as easy as it might sound. We'd have to manage that on our end and just tell Crowdin which files we want to remove from our translation. We can't delete everything and upload just the most current files, as Crowdin will delete all files

[2016-11-08 16:34] #548 closed

[2016-11-16 06:40] DemonWav opened #550 "Add documentation for creating a plugin with Minecraft Dev"
Using Minecraft Dev for IntelliJ is the easiest way to get a Sponge plugin development setup, whether it's for Maven or Gradle. I may be biased, but I think most people would agree with me there. :smile:

It would be nice, and I would greatly appreciate it, if the Sponge Docs would at least mention my plugin, as that would lead more people to using it. So yeah, this is a selfish request.

Info on

[2016-11-16 07:37] pie-flavor opened #551 "ConfigurationLoader page suggests using a URL via getResource()"
A call to the Asset API would be a better idea.

[2016-11-17 01:33] gabizou commented on #550
As a user of the plugin, I wholeheartedly accept this to be added to the docs.

[2016-11-17 11:41] Inscrutable commented on #550
If it's that useful a core utility, then we could even support a page for it. That would have the bonus of providing translations that aren't available on your own Docs. I'd appreciate some opinions on where this would be inserted, and which docs pages should refer to _Minecraft Dev for Intellij_ in general.

[2016-11-17 15:39] Tzky commented on #550
As it's a plugin for IntelliJ IDEA, i'd add on the IntelliJ page:
https://github.com/SpongePowered/SpongeDocs/blob/master/source/plugin/workspace/idea.rst

[2016-11-17 16:18] windy1 commented on #523
OK -- this is practically completed. The only things remaining is the "Support" page and the "Terms of Service" page. I didn't complete these because I'm not sure how we would like to setup our support system for users and I'm still awaiting the much anticipated ToS ;)

Officially seeking input so we can wrap this up ASAP.

[2016-11-18 17:12] 12AwsomeMan34 commented on #551
#522

[2016-11-18 17:12] #551 closed

[2016-11-20 20:19] windy1 opened #553 "Immutability of Configurate's ConfigurationOptions unclear."
There is no mention of how the `ConfigurationOptions` class is actually immutable and there is no indication that it is immutable from the example code. A note or something should be added indicating the class is immutable.

https://docs.spongepowered.org/master/en/plugin/configuration/serialization.html

[2016-11-28 06:57] #517 closed

[2016-11-28 10:13] ustc-zzzz opened #555 "Request for official approval for the Chinese Simplified translation, the contributor list, and the build frequency"
As a translator for the Chinese Simplified translation, I hope to make the translation project widely known in one of the largest forum about Minecraft in China, MCBBS (<http://www.mcbbs.net/>), and I have published a post (<http://www.mcbbs.net/thread-647066-1-1.html>, you could find a large Spongie at the beginning of the post XD). For confirmation, MCBBS requires a relatively formal official ap

[2016-11-28 11:37] Inscrutable commented on #555
First up (I also replied on CrowdIn), I have elevated @ustc-zzzz to proofreader on Chinese (Simplified). We shall see if that provides sufficient access to translator stats (CrowdIn help pages weren't as helpful as I'd like), as they *are* available to admins, with a bit of rummaging.
The frequency of SpongeDocs builds (and also translations) is tied to GitHub activity - when a PR is merged, a new

[2016-11-28 16:28] ustc-zzzz commented on #555
Thanks a lot! Those related pages are available for proofreaders so it is enough for me to collect the translator stats and the identity of a proofreader and this issue are enough to prove that I have contact with the official development team.

[2016-11-28 18:33] ST-DDT commented on #555
IMO nightly-builds are probably a good choice. As an alternative/addition we could add the ability to Spongie in IRC to trigger these builds when she is asked to do it by authorized users. (Magic chant: abracadabra nova docs constructicus...)
The second option will also help us to bring more activity to IRC and thus gives everyone easier access to help as well as awareness on possible issues with

[2016-11-29 02:39] Inscrutable commented on #555
I've talked to @Minecrell about this, as there is a nascent plan to migrate to our own Jenkins instance. Another possibility is to decouple translation builds from Docs, so they can build on their own. This is one of many things that need to be considered if/when we move away from using Travis ...

[2016-11-29 15:39] progwml6 commented on #555
the entire build system for docs needs to be redone at some point to simplify it, however that's partially tied into some work that is ongoing with moving some of the theme components to use templates that are easier to share with some of our other repos

[2016-12-05 15:25] h404bi commented on #555
glad to see that the Chinese Simplified translation of SpongeDocs active again, thanks to those who have made contribution.

while talking about the docs builds, I personally agree with "decouple translation builds from Docs". But I want to talk more.

I joined in the Chinese Simplified translation activity since June 2015. And have witnessed the development of SpongeDocs, from v3.1.0 to v5.0.0. I

[2016-12-19 05:34] maxov opened #557 "Handing over Spongy user, still hosted on github?"
I'm wondering if the Sponge documentation is still hosted on GitHub. The reason this is a problem is that GitHub sends me warning emails related to the fact that docs-origin.spongepowered.org is set as an A record (to fastly, I think) every time the docs are updated. There's a few ways to fix this:
1. if the Sponge documentation is not hosted on GitHub (I remember talking about this with @lukegb a

[2016-12-19 07:26] Inscrutable commented on #557
Welcome back, o great architect! I hope you've been having a merry time in the wider universe beyond the veil of Sponge. Seasons yadda yadda and so on :)
I'll accept the Spongy email if you want to pass it on. I can share it with some of our other admin staff (and internal docs) to make sure it isn't unattended.
I'll let our web-team rise to the challenge of explaining the current SpongeDocs hosti

[2016-12-19 19:54] maxov commented on #557
Hi @Inscrutable, happy holidays! Sorry if I wasn't clear: the current Spongy email is an alias pointing to an email on the lapis.blue domain. I think it would be ideal to add a new email alias with Sponge's system, like spongy@spongepowered.org.

[2016-12-19 20:35] #434 closed

[2016-12-20 08:12] Inscrutable commented on #557
OK, I see what you mean. That's probably going to need assistance from @lukegb to sort out.

[2016-12-20 15:27] ST-DDT commented on #502
I'm really not sure where we could add this show off image.
Maybe we should place it right below the [Server - Spongineer - Commands # Sponge](https://docs.spongepowered.org/master/en/server/spongineer/commands.html#sponge) table.

Maybe something similar to this:

Would this be enough to solve this issue or would you like to add more stuff or add it to its own page as mentioned in #482 .

[2016-12-20 17:13] Tzky commented on #557
Long time no see, so welcome back!

Our hosting solution hasn't had any major changes since you established it. We're currently still hosting the docs on github. :)

[2016-12-21 07:26] Inscrutable commented on #502
That does cover most of the bases, although it's a bit scanty on autocompletion. Adding "Sponge commands provide detailed tab-autocompletion, as do many plugins." or similar might do the trick.
The image is a good idea; it reduces the amount of text needed to describe the features, although it (and the body text) could probably use a little polishing.
I concur it's probably most appropriate on the

[2016-12-21 09:06] #32 closed

[2016-12-21 09:07] #136 closed

[2016-12-22 19:32] gabizou commented on #557
@Zidane Since you're able to add new emails, could do that.

[2016-12-23 07:41] gabizou opened #559 "Data API things to document"
This is more of a rolling issue that I'm going to be maintaining and some brain dumping on how certain aspects of Data API (and maybe other aspects of Sponge's systems, like the registry system) should be used.

- [ ] Table for explaining what methods in `DataView` to use for what and when

Method | Usage
--------------- | ---------------
`getContainer()` | Used to get the top level container of t

[2016-12-23 07:59] Inscrutable commented on #335
We can also add #559 to the omnibus of Data stuff to get down with. SpongeDocs need someone who can help get this back on track. _Whomsoever shall yadda yadda ..._

[2016-12-24 12:53] Inscrutable commented on #557
The GitHub account has temporarily been transferred to an email @Minecrell also has access to. The Spongie _Crowdin_ account will also be dealt with shortly.
It would be preferable to transfer the GitHub account to a @spongepowered.org mail, so this issue can stay until that is resolved.

[2016-12-24 22:21] Inscrutable commented on #157
Sibomots gave us ten tutorial videos. I think we can close this issue now.

[2016-12-24 22:21] #157 closed

[2016-12-31 03:55] #8 closed

[2017-01-07 18:47] sanman00 commented on #437
At [plugin/injection](https://docs.spongepowered.org/master/en/plugin/injection.html), there is some text that reads `It’s entirely possible to receive the Game object from within most events [...]` which should probably read `It’s entirely possible to receive the Game object from Sponge.getGame()`.

Also in that file, towards the bottom, there is some text that reads `[...], where @ConfigDir refe

[2017-01-08 04:36] Inscrutable commented on #437
I think it was meant to read ``whereas`` instead of ``where``. I can't speak for the other issue though.

[2017-01-18 09:05] Inscrutable commented on #469
Also related, Cause API: https://github.com/SpongePowered/SpongeDocs/issues/267
This really needs to get started, although someone familiar with the system has to be involved...

[2017-01-18 09:10] Inscrutable commented on #493
This probably needs going over for relevance. API 6.0 is on the horizon...

[2017-01-23 04:52] pie-flavor opened #561 "Outdated @Subscribe annotation"
At the bottom of [this page](https://github.com/SpongePowered/SpongeDocs/blob/master/source/plugin/configuration/serialization.rst), it lists one listening via `@Subscribe` instead of `@Listener`.

[2017-01-23 09:23] Inscrutable commented on #515
There are 16 items left unfinished on the checklist at https://github.com/SpongePowered/SpongeCommon/issues/8 so the warning is still somewhat relevant. We can amend it a bit, but it would be preferable to have the list finished and just drop the warning.

[2017-01-24 15:37] Minecrell opened #563 "Remove download page"
SpongeDocs is still using the old, now outdated download links. Considering we also have a [separate downloads page](https://www.spongepowered.org/downloads/):  I don't think the [Download Docs page](https://www.spongepowered.org/downloads/) is still needed. It could be removed entirely or point to the new page above.

The build history (first alpha/beta build) could be possibly moved to some kind

[2017-01-24 17:00] #563 closed

[2017-01-28 18:07] Tzky opened #565 "Relicensing of the Docs"
@Minecrell raised a longstanding issue:

The docs are missing a proper license currently. I want to use this issue to discuss possible licenses and everything that needs to be done to get the docs relicensed. We also need to get consent by every contributor to relicense the docs repo, just like Forge did it.

The current plan is as follows:

* Code on Docs repo: MIT
* Assets:  [CC BY-NC-ND](https:

[2017-01-28 23:54] Inscrutable commented on #565
The License must feature in the contribution guidelines for the Docs in future, implicit agreement with whichever license applies is a necessity. The highly permissive Creative Commons BY license requires only attribution, and its very much in line with what our contributors would expect.
I am a bit surprised that SpongeDocs hadn't fallen under the envelope of our existing (MIT) License, but I can

[2017-01-29 09:29] ST-DDT commented on #565
How was this missed? You are right this needs to be fixed.

As for the how...
We have to get the username of every comitter and mention them here or elsewhere.
And request a post like 'i agrre to the license change' or 'i sign off my contributions'.
If this does not lead to total coverage when could then try to use the email addresses from the commits itself to try to contact the remaining people.

[2017-01-29 10:24] Tzky commented on #565
We relicensed SpongeHome in the past (https://github.com/SpongePowered/SpongeHome/pull/83). I'd like to do it like this for the docs, so:

1. we choose a license for:
    a) code
    b) assets
    c) docs content
2. we get a list of all current contributors, excluding past contributors and grammar correntions/typos
3. we ask everyone on the list for consent/approval
4....
5. Profit!

[2017-01-29 11:35] Inscrutable commented on #565
Addressing (1): Licensing for code should probably be MIT to match the rest of our repos. The Art Assets need to be Creative commons CC-BY-ND-NC, with specific exemptions (as listed on the Docs now), and the docs content can probably safely be the permissive CC-BY (or if we want it to persist as CC when forked, we can use the share-alike, CC-BY-SA)
Sometime soon we will put a list up (probably as

[2017-01-29 12:36] Tzky commented on #565
Agreed. I'd also go with:
* Code: MIT
* Assets: CC-BY-ND-NC with exemptions
* Docs content: CC-BY-SA

[2017-01-31 09:05] pie-flavor opened #566 "Best Practices incorrectly states that plugins cannot use mixins"
^ title.
https://github.com/SpongePowered/SpongeDocs/blob/master/source/plugin/practices.rst#mixins

[2017-01-31 09:26] pie-flavor opened #567 "Invalid code in Custom Events"
https://github.com/SpongePowered/SpongeDocs/blob/master/source/plugin/event/custom.rst

All posted events [must extend `AbstractEvent`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/SpongeEventManager.java#L313); simply implementing the interface is not enough.

[2017-01-31 09:39] pie-flavor opened #568 "Unwieldy builder creation in example code"
This is present in both the pages for [Scheduler](https://docs.spongepowered.org/master/en/plugin/scheduler.html) and [PaginationService](https://docs.spongepowered.org/master/en/plugin/text/pagination.html). Their methods for obtaining a `Builder`  can be replaced with `PaginationList.builder()` and `Task.builder()` respectively.

[2017-01-31 10:06] Inscrutable commented on #566
Well, sort of. A plugin using mixins is a lot more like a _mod_ than a _plugin_, according to accepted terminology. The only example I can think of so far is the Nucleus mixin-plugin, and that's highly experimental. So, do you want to have a try at a more concise statement to replace the existing text?

[2017-01-31 10:08] Inscrutable commented on #568
Do you think you could submit a PR with these changes?

[2017-01-31 10:31] pie-flavor commented on #566
'Plugins can use mixins, though by that point they're better classified as mods.'

The real message in the linked page was not one of terminology, but simply that mixins couldn't be used by things that Sponge loads.

[2017-01-31 19:30] NixillUmbreon opened #570 "/help should say "Use /page next to see the next page" on console"

[2017-01-31 22:04] 12AwsomeMan34 commented on #570
Wrong repo, open an issue over at [SpongeCommon](https://github.com/SpongePowered/SpongeCommon/issues).

[2017-01-31 22:04] #570 closed

[2017-01-31 22:34] axle2005 opened #571 "Some outdated code on World Generation Page"
Bit of mis information on this page, rather it needs updating:
https://docs.spongepowered.org/master/en/plugin/wgen/customwgen.html

Under: Creating Custom Base Terrain

This line:
BiomeType biome = biomes.getBiome(x,z); needs to be updated to BiomeType biome = biomes.getBiome(x,y,z);

and the buffer.setBlockType needs to have a cause now.

[2017-02-01 02:35] Inscrutable commented on #571
@Deamon5550 has been slated to add some more WGen docs at some point (PR #534 ), so perhaps the existing sections can get reviewed at the same time ...

[2017-02-01 02:36] #568 closed

[2017-02-02 20:12] Minecrell commented on #565
#560 moves almost all code to https://github.com/SpongePowered/sponge-docs-theme, so we can just put the complete SpongeDocs repo under the CC-BY-SA license (except the assets)

[2017-02-02 21:23] ST-DDT commented on #565
We collected a list of all contributors, so at least that step is covered.

[2017-02-03 14:13] ryantheleach commented on #565
I'm happy to contribute my contributions under any future license that the maintainers of SpongeDocs decide.

What's next, creating a ticket proposing the changes and pinging everyone involved?

[2017-02-03 14:33] Inscrutable commented on #565
Pretty much, yes. We're just waiting on one of the Sponge Leaders to give the nod to the licensing. After that, everyone gets pinged by our giant checklist, and we await replies. It probably belongs on a fresh PR to add mention of the new license in the Contributing section, so future contributors will be aware of it. We can't amend the license until it's agreed anyway.

[2017-02-03 16:01] RobertHerhold commented on #565
Likewise, I agree to any license change

[2017-02-03 16:16] jamierocks commented on #565
May want to take a look at the GPL Free Documentation License

[2017-02-04 00:38] Inscrutable commented on #565
We've pretty much decided the license, which happens to be the same one used by Wikipedia. It does not need a lot of detail beyond preserving attributions and keeping it public.

[2017-02-04 13:08] Tzky commented on #473
We looked into providing a PDF as download and ultimately decided against it. It would require us to setup and maintain a fairly large dependency (LaTeX is *huge*). Instead we'll provide the Docs as *HTML zip* download. You can download the (optionally translated) docs via the lower left menu on the new theme:

![image](https://cloud.githubusercontent.com/assets/10940670/22618680/4713eebe-eae3-11e

[2017-02-04 13:08] #473 closed

[2017-02-05 01:24] RobertHerhold opened #574 "Issue installing pip dependencies"
While doing `pip install -r etc/requirements.txt`:

[code]

Pinging @Minecrell

[2017-02-05 07:57] Inscrutable commented on #574
Is it possible that the change of base branch from ``master`` to ``stable`` has thrown things off?

[2017-02-05 10:14] Minecrell commented on #574
The main branch on GitHub is still `master` because I'm unable to change it. Make sure you switch to the new `stable` branch before installing pip dependencies.

[2017-02-05 12:49] Tzky commented on #574
It's ``pip install -r requirements.txt`` now, not ``pip install -r etc/requirements.txt``. Note the missing ``etc/``

[2017-02-06 17:31] #574 closed

[2017-02-06 20:57] Meronat opened #577 "SpongeForge set-up tutorial videos are now private"
Sibomots seems to have made [all of his tutorial videos](https://www.youtube.com/playlist?list=PLGqUurDwlOGfmRM_UkAVR0xrvIi9B6BQN) private, so for now it would be best to remove the link from [the tutorials docs page](https://docs.spongepowered.org/stable/en/plugin/tutorials.html) and maybe the page entirely until some new tutorials show up.

[2017-02-07 01:10] Inscrutable commented on #577
I see. I have no idea what's happening there. You might want to ping him via IRC and ask what's going on, he *did* make them for public consumption ...

[2017-02-07 01:19] Meronat commented on #577
Yeah I will if I see him online. He seems to have been deleting his posts on the forums as well, so maybe he is looking for a fresh start? I'm not really sure.

[2017-02-07 01:37] Inscrutable commented on #577
He's no longer in the _SpongePowered_ organisation, either. I have no idea what's going on.

[2017-02-07 02:16] Meronat commented on #577
He seems to have reopened the videos to the public.

[2017-02-07 02:16] #577 closed

[2017-02-07 07:43] Inscrutable commented on #577
I have made contact, and as you have observed, he has restored the videos.

[2017-02-10 13:45] #561 closed

[2017-02-10 13:45] #567 closed

[2017-02-11 10:52] Minecrell opened #579 "Add section how to configure shadow JARs when setting up a MCP workspace"
[Using MCP in Plugins](https://docs.spongepowered.org/stable/en/plugin/internals/mcp-setup.html) should be extended with a section that explains how to make it work together with a Shadow JAR. By default, ForgeGradle will only re-obfuscate the default JAR, therefore additional configuration is necessary to make it aware of the shadow JAR.

(This is mostly just a note for myself.)

[2017-02-12 06:37] Inscrutable commented on #523
Is there any progress a ToS and/or Support page @windy1 ? Editorial staff can help throw it together when we have a final ToS.

[2017-02-16 13:52] #566 closed

[2017-02-20 01:11] boformer opened #581 "Custom Data code example link is dead"
The "full implementation" link on [this](https://docs.spongepowered.org/stable/en/plugin/data/custom/index.html) page is dead.

[2017-02-20 09:53] Minecrell opened #582 "Extend custom events page with an explanation how to use event-impl-gen"
[event-impl-gen](https://github.com/SpongePowered/event-impl-gen) can be used to automatically generate event implementations from event interfaces at compile time. That saves plugin developers from the boilerplate code to implement all the event properties, all they need to do is configure the Gradle plugin and use the generated event factory instead of custom implementation classes.

The [Custom

[2017-02-24 22:47] InterStena opened #583 "Strange bug with table left-right scrolling in global.conf"
macOS Sierra (10.12.1);
Safari 10.0.3 (12602.4.8);
SpongeDocs language — Russian;
Demo — https://cl.ly/2k400B212u3c (this will tell you everything)
Monitor — 1280x1024
The problem is that the table with its contents does not fit into the page. I think it's a 4:3 monitor problem, but still.
I even tried to open this page in adaptive design mode (page in all popular resolutions). Even there it looks

[2017-02-25 12:49] Tzky opened #584 "Document requirements for displaying of block-owner and -notifier"
Just came across this issue and i feel we need to document that somewhere

What are the requirements to display the block-owner and block-notifier to someone using SF on the client? Currently it looks like you need a certain permission AND op on the server to see them on the *F3* debug screen.

Mostly a reminder for myself to investigate this and document it on the docs.

[2017-02-25 18:50] InterStena commented on #583
Thanks for responding. I'll send the issue to correct place.

[2017-02-25 21:57] Aaron1011 commented on #581
This is waiting on https://github.com/SpongePowered/Cookbook/pull/17, so it's not really 'outdated'

[2017-02-26 10:17] Tzky opened #585 "Document MCP version matching when using shaded jar with forgemods"
We need to document that mod developers which make use of our SF shaded jar, need to match the MCP mapping version of their mod to the MCP mapping version used by SF.

This does *only* apply to a mod workspace when SF shall be run inside it.

[2017-02-27 07:41] Meronat commented on #165
@Aaron1011 I may give this one a shot. Anything you want to point out that's important for me doing so?

[2017-03-06 13:28] Minecrell commented on #437
- [ ] [posting.rst](https://github.com/SpongePowered/SpongeDocs/blob/stable/source/about/posting.rst#categorizing-your-posts) under `Categorizing Your Posts`: `it's category` -> `its category`. [Reported on Crowdin](https://crowdin.com/translate/sponge-docs/802/en-nl#17670) by tomudding

[2017-03-09 16:28] Grinch opened #588 "Note that plugins with Mixins can only be loaded from the Mods folder"
Not sure if this restriction is implied on SpongeVanilla however SpongeForge (as per SpongePowered/SpongeForge#1339) cannot load plugin mixins outside the mods folder.

[2017-03-09 17:03] Mumfrey commented on #588
Corollary to #566 and the corresponding #572.

[2017-03-10 03:23] Inscrutable commented on #588
We probably also need to modify [this page](https://docs.spongepowered.org/stable/en/server/management/plugins.html). The note should be altered to mention that plugins can also reside in the ``plugins`` folder, and add the caveat above.

[2017-03-19 10:46] Tzky commented on #588
Fixed in 000a1ad988858ea608428ef1c859aeb9a14cc7c8.

[2017-03-19 10:46] #588 closed

[2017-04-02 07:40] Inscrutable commented on #437
A couple of issues raised by translators:
- [ ] at /contributing/implementation/datamanipulator: ..."you want to have two constructors:" should be "you need to have two constructors:". (_want to_ is poor wording does not translate well)
- [ ] at /server/getting-started/configuration/server-properties: "white list" should be "whitelist" for consistency.

[2017-04-02 09:10] VapidLinus opened #590 "Dead link on "Custom Data" page"
On this page:
https://docs.spongepowered.org/stable/en/plugin/data/custom/index.html

The link that says "full implementation" seems to be dead. It links to:
https://github.com/SpongePowered/Cookbook/tree/master/Plugin/MyHomes

[2017-04-02 09:34] ST-DDT commented on #590
I guess the proper target would be [CustomData](https://github.com/SpongePowered/Cookbook/tree/custom-data/Plugin/CustomData) plugin (API 5) or [MyHomes](https://github.com/SpongePowered/Cookbook/pull/17) plugin (API 6).

Duplicate of: https://github.com/SpongePowered/SpongeDocs/issues/581

[2017-04-02 09:34] #590 closed

[2017-04-09 12:59] randombyte-developer opened #591 "Permission and plugin id namings don't match"
The [permissions docs](https://docs.spongepowered.org/stable/en/plugin/permissions.html#permission) suggest using the plugin id as the 'root permisison node'. The example is `myPlugin`.
The [plugin id docs](https://docs.spongepowered.org/stable/en/plugin/plugin-identifier.html) say that plugin ids must be lowercase. And the example from the permission `myPlugin` isn't lowercase.

[2017-04-09 13:13] Minecrell commented on #591
That sounds like something for https://github.com/SpongePowered/SpongeDocs/issues/437

[2017-04-09 14:19] randombyte-developer commented on #591
Ok

[2017-04-09 14:19] #591 closed

[2017-04-09 14:19] randombyte-developer commented on #437
The [permissions docs](https://docs.spongepowered.org/stable/en/plugin/permissions.html#permission) suggest using the plugin id as the 'root permisison node'. The example is `myPlugin`.
The [plugin id docs](https://docs.spongepowered.org/stable/en/plugin/plugin-identifier.html) say that plugin ids must be lowercase. And the example from the permission `myPlugin` isn't lowercase.

[2017-04-10 06:23] connorhartley commented on #437
https://docs.spongepowered.org/stable/en/plugin/injection.html#temporary-list-of-injected-types ConfigDir example should point to the `./configs/` directory instead of `./mods/`.

[2017-04-17 18:32] LordRalex opened #592 "SpongeForge installation page provides unclear link to correct Mojang launcher"
Currently on the SpongeForge installation steps, there is a warning that using the Minecraft Installer that Mojang provides only installs 8u25, and that Sponge requires 8u40.

It then links to the download page for Minecraft, which effectively links that same installer that causes the issue.

It should either link to an article that explains how to change the Java version for the installed version

[2017-04-18 04:24] Inscrutable commented on #592
It links to the Minecraft DL page because you can also grab the Launcher _without_ Java bundled with it. There is already a nice page on the SpongeDocs about [Installing Java](https://docs.spongepowered.org/stable/en/server/getting-started/jre.html), which we should just link here for convenience.

[2017-04-18 04:33] Meronat commented on #592
@Inscrutable While we do mention that you can grab it there, it is not completely obvious as you do need to go to "alternative download" once there. Also while we do have the installing Java article already, it may be helpful to provide some information or link to an external guide on how to change the Java version within the newest Minecraft client if they did use the installer or want to change

[2017-04-23 11:14] ImMorpheus opened #595 "SpongeFoundation"
I was unsure if open a PR for this as there's no info on the forum (as far as I know), but the link to the SpongeFoundation website is dead https://github.com/SpongePowered/SpongeDocs/blob/stable/source/about/glossary.rst

What happened to the website ? There's still the category on the forum https://forums.spongepowered.org/c/foundation

[2017-04-23 11:52] ST-DDT commented on #595
I guess your are referring to this (http://spongefoundation.org/) page.
AFAICT the DNS has not changed for a while, so I guess the server is not (yet) properly setup.
@SpongePowered/web-developers @SpongePowered/webdevops

[2017-04-24 02:30] Inscrutable commented on #595
The person who is supposed to know what's going on here is Dockter.

[2017-04-27 02:19] lukegb commented on #595
I'm not sure the spongefoundation landing page ever got moved across (see also SpongePowered/Sysadmin#11). To be honest it both looked a bit naff and was filled with inaccurate information at the time, so I'm not sure it's a great loss - I think I do still have a copy of it on my desktop somewhere, but it's probably better off just making it a redirect to SpongeDocs somewhere or making it a part o

[2017-04-27 02:22] Meronat commented on #595
Yeah I agree the information would be best included in its own page on SpongeHome and have the URL redirect there. Consolidates the org into a single website.

[2017-05-03 19:18] phit opened #598 "Known Mod Conflicts Page"
I've been thinking about this for a while, would it be worth it maintaining a page with known mod conflicts with their workarounds/replacements? Currently you have to search for that kind of information in the various issue trackers. I started an example here how this could look like https://github.com/phit/Sponge-ModSupport

Is this in the scope of the docs and worth maintaining or is the current

[2017-05-04 01:28] Inscrutable commented on #598
It's out-of-scope for the SpongeDocs, but there's good reason to have such a list available. I have suggested we maintain one somewhere on the Forum, so it turns up in search results. The matter is still under debate - we don't want to have a "name-and-shame" list, just the basic facts and links to forks or patches where available.

[2017-05-04 12:42] Alexdenseje7 opened #599 "Server crashing when person leaves the server"
Crash report:
https://pastebin.com/dduE9dFc

The server crashes when the someone leaves the server.

Newest version of sponge vanilla.

[2017-05-04 13:15] Minecrell commented on #599
Please open this issue on one of the implementation repos:

- https://github.com/SpongePowered/SpongeVanilla/issues
- https://github.com/SpongePowered/SpongeCommon

[2017-05-04 13:15] #599 closed

[2017-05-10 03:08] Inscrutable commented on #437
A new one found by tomudding: "sections" should not be a plural in the first line of https://docs.spongepowered.org/stable/en/contributing/index.html

[2017-05-10 06:31] Inscrutable opened #600 "Ore Guidelines need publishing"
This is ready to be added to the docs. Quibbles and any further adjustments can come later.

https://docs.google.com/document/d/1Oq5gy3Ejju38nIrz4d9qWRx_Z24ADpQgLyZnYx3tY10/edit

[2017-05-10 11:55] Inscrutable commented on #73
This issue is now over two years old. Is this still a going concern at all?

[2017-05-10 11:59] Inscrutable commented on #493
... aaaaaaand API 6.0 is here. We definitely need to review this list.

[2017-05-10 12:17] Inscrutable opened #601 "API 6.0 and retirement of API 3.X docs"
With the release of API 6.0, we no longer have the capacity to support <s>or host</s> the old API 3.X docs. We only want to offer three versions, to reduce load on Crowdin and shorten docs build times. Our agreed solution is to bundle the 3.X docs into a _pdf_ or _html_ file and offer that. At that point we can retire the 3.X branch and focus on versions 4, 5 and 6.

So, we need to (1) tweak the S

[2017-05-10 14:17] Minecrell commented on #601
Supporting it might be indeed a problem: theme changes need to be applied for all old docs and they take up a lot of strings on Crowdin. However, the hosting isn't any problem. We can just stop building them and keep them on our website the way they are, the additional old files don't require any maintenance.

We already have the ZIP downloads for all our versions so that should be covered as well

[2017-05-12 14:59] ryantheleach opened #602 "Cause accepting plugin instance or plugin container?"
I probably need someone to verify I didn't make a mistake, but I believe all the plugin instances on this page, need to be replaced with plugin containers instead.

https://docs.spongepowered.org/stable/en/plugin/blocks/modifying.html?highlight=modifying%20blocks

[2017-05-12 16:32] Deamon5550 commented on #602
Yeah they should be

[2017-05-13 09:55] Inscrutable commented on #602
Which version of the API did this change in (so I can add the right milestone), or is it an error?

[2017-05-15 04:56] ryantheleach commented on #602
I'm not sure if it was an intentional change or error in the docs, or an error in the implementation.

[2017-05-16 12:07] Inscrutable commented on #598
As no-one else has had anything significant to say, I'll close this issue. I think the concept is still quite a good one, but will need more discussion before anything goes ahead.

[2017-05-16 12:07] #598 closed

[2017-05-17 15:44] #600 closed

[2017-05-25 02:34] pie-flavor opened #604 ""Is are""
Contents of title are in the second Notes section under the header Signing your Plugin on the [publishing&nbsp;page](https://github.com/SpongePowered/SpongeDocs/blob/stable/source/ore/publish.rst#signing-your-plugin).
[code]

[2017-05-25 02:55] Inscrutable commented on #604
This probably fits better into #437, our ongoing OCD list for minor fixes. Oh well.

[2017-05-25 10:28] Inscrutable commented on #437
https://docs.spongepowered.org/stable/en/about/faq.html#i-m-a-bukkit-plugin-developer-why-can-t-sponge-use-bukkit-s-api says "demise in September". This should have the year (2014). c/o - kashike

[2017-06-01 06:35] Faegy commented on #437
- [ ] https://docs.spongepowered.org/stable/en/plugin/event/causes.html misses "be" in "This contextual information can then used to modify the behavior of your event listener".

[2017-06-11 14:46] #601 closed

[2017-06-12 11:03] Minecrell commented on #437
- [ ] https://github.com/SpongePowered/SpongeDocs/issues/604

[2017-06-12 11:03] Minecrell commented on #604
https://github.com/SpongePowered/SpongeDocs/issues/437#issuecomment-307758372

[2017-06-12 11:03] #604 closed

[2017-06-12 18:27] Katrix- opened #608 "Branding and colors"
I tried to find any information about what is the "official" colors for the Sponge project. But I couldn't find anything. Expected it to be located here. https://docs.spongepowered.org/stable/en/about/assets.html

Also, maybe add some notes on the usage of the Ore logo?

[2017-06-12 19:34] Minecrell commented on #608
There are some basic guidelines in the [Sponge Branding Manual](https://drive.google.com/file/d/0B0_Vyme6I-EwTk9HUWtSdDNxaFU/view)

[2017-06-13 04:24] Inscrutable commented on #581
BUMP. This needs to come back to life soon, it's been a dead link for 4 months or so. Either that or we drop the link, as it's useless.

[2017-06-13 04:27] Inscrutable commented on #608
... which is planned to become part of the docs, in #470, along with the Art assets, when they eventually decide to declare a license.

[2017-06-14 07:01] ryantheleach commented on #581
https://github.com/SpongePowered/Cookbook/pull/17 was merged 16 hours ago.

[2017-06-14 08:43] #581 closed

[2017-06-18 17:11] randombyte-developer commented on #437
https://docs.spongepowered.org/stable/en/plugin/scheduler.html#task-properties

For the task name:

[code]

The plugin id should be `foo-plugin`.

[2017-07-11 19:50] kinggoesgaming opened #612 "document fetching the jar pgp signature"
on `https://docs.spongepowered.org/stable/en/ore/routes/download.html` it is mentioned that we can use `/api/projects/:pluginId/versions/:version/download` to download a plugin jar.

It misses that we can use `/api/projects/:pluginId/versions/:version/signature` to get the pgp signature

[2017-07-12 01:03] ryantheleach commented on #612
Thanks king, we would appreciate a PR :)

[2017-07-12 02:56] kinggoesgaming opened #613 "Document downloading the jar from a zip file"
I believe I once talked with windy about developers uploading zip files containing the jar + extra files, and that only downloading the jar and downloading the zip was possible. Not sure if thats possible now, but documentation is not present.

@windy can comment on that?

[2017-07-23 04:44] Inscrutable commented on #437
OK, Everything here has been fixed up to this point in PR #616 - let me know if anything's awry.

[2017-07-23 08:19] Inscrutable commented on #557
Bump. When you return, can you tell us the status of this issue @Minecrell ?

[2017-07-23 08:22] Inscrutable commented on #507
Still an empty void, are either of you up to documenting this @Deamon5550 and @ST-DDT ?

[2017-07-23 13:52] Minecrell commented on #557
@Inscrutable No news from my side. I'm still waiting for someone to create an email I can use for the account. We also need a secure place to store the password for the account.

[2017-07-23 14:39] Inscrutable commented on #557
OK. @lukegb can you please arrange a nice comfy account for Spongy to reside in, and we can sort out passwords and storage/sharing as needed (GDoc or otherwise).

[2017-07-24 15:47] progwml6 commented on #557
luke and I don't run the email server @zidane does

[2017-07-24 16:18] ryantheleach commented on #73
Most of the issues that @modwizcode mentioned seemed to be at least somewhat covered. I think specifics can get their own issues at this stage.

[2017-07-24 16:23] ryantheleach commented on #165
@Meronat I'm not sure how the hell to word it, but a mention about how to share the per player scoreboards would probably be suited in some manner. I havn't used it heavily, but I foresee some fighting over the scoreboard happening if you use one of those "info" spam scoreboards as well as trying to use it for anything meaningful like teams, above names, or the tab menu.

[2017-07-24 16:39] gabizou commented on #73
I think any implementation specific docs should be made a new issue, at the time this issue was created, the implementation had a far different image of how the API was used. I'm willing to close this issue now.

[2017-07-24 16:39] #73 closed

[2017-07-24 16:55] modwizcode commented on #73
I'm good with closing this.

On Mon, Jul 24, 2017, 11:40 AM Gabriel Harris-Rouquette <
notifications@github.com> wrote:

--
Iris Johnson

[2017-07-29 13:34] Inscrutable commented on #595
Has there been any progress on this? At present it just duplicates www.spongepowered.org. Or should we just remove mention of the Foundation and never speak of this again? ;)

[2017-07-30 15:46] progwml6 commented on #595
@mcsnetworks if you want this restored its probably going to need a new codebase as I have no clue where the old one ended up as i'm not seeing it on our github anywhere

[2017-08-14 17:52] Grinch opened #618 "SpongeCommon/SpongeForge command changes"
Just wanted to note a few changes to the `/sponge plugins` command.

As of now SpongeCommon uses pagination for the plugin command to display installed plugins. On SpongeCommon/SpongeVanilla it forces `Minecraft, MCP, SpongeAPI, and Sponge` at the beginning of the list in that order. The console will display a non-paginated list for this command.

SpongeForge filters out mods from the `/sponge plu

[2017-08-15 02:02] Grinch opened #619 "Addition of '/sponge:help' permission"
As of [this commit](https://github.com/SpongePowered/SpongeCommon/compare/2af6807b35d6...4e82a4ec9965) `/sponge:help` has the permission `sponge.commands.help` tied to it.

[2017-08-15 09:04] Inscrutable commented on #618
Which versions of SpongeAPI does this affect (ie. is it being cherry-picked to older versions)?

[2017-08-15 09:08] Inscrutable commented on #619
Presuming this targets bleeding (API 7), will it get cherry-picked into older API versions?

[2017-08-15 16:45] Grinch commented on #618
The only version I targeted for this is 7. It could be pulled into older versions but that isn't something I personally plan to PR.

[2017-08-15 16:45] Grinch commented on #619
The only version I targeted for this is 7. It could be pulled into older versions but that isn't something I personally plan to PR.

[2017-08-19 10:04] XakepSDK commented on #139
Bump

[2017-08-20 02:51] Inscrutable commented on #139
There is a clean-up/refactoring/implementation of some inventory stuff going on at present by @Faithcaio and others. That may eventually lead to some actual documentation... but HELP is still wanted.

[2017-08-25 16:30] Dannyps commented on #437
https://github.com/SpongePowered/SpongeDocs/blob/stable/source/ore/routes/list-users.rst

*Limits the amount of **projects** returned (max / default: 25).*
should be
*Limits the amount of **users** returned (max / default: 25).*

*Drops the first *n* **projects** from the result list.*
should be
*Drops the first *n* **users** from the result list.*

[2017-08-27 06:57] ST-DDT commented on #364
The link in the description is no longer working.

[2017-08-27 12:14] JBYoshi commented on #364
Actually, most of this system was rewritten in https://github.com/SpongePowered/SpongeForge/commit/20734562847bcb60cade1611fbab74bc75b47978. I replaced the link, though, and pointed it to one of the few remnants.

[2017-09-08 03:42] Zytheus opened #624 "Delete"

[2017-09-08 04:01] liach commented on #624
lol, wrong repo!

[2017-09-08 04:15] Zytheus commented on #624
wot

[2017-09-08 07:14] #624 closed

[2017-09-12 13:25] MarkL4YG commented on #592
By the way...

*Links manual download page*

[2017-09-12 16:09] tomudding commented on #437
**SpongeAPI** is sometimes incorrectly written as '**Sponge API**' (with a space). This list lists (hopefully) all of the occurrences of this "problem". I cannot provide a line-specific link here so someone will have to search for the instances and replace them by hand (or by using a text editor).

---
These files contain 1 or more occurrences of '**Sponge API**':
- [ ] [../source/about/faq.rst](h

[2017-09-13 01:31] ryantheleach commented on #437
I haven't investigated, but there is a grammatical difference between talking about the artifact SpongeAPI and more weakly referencing it as the Sponge API.

If you are referencing the (sub)projects name it's SpongeAPI if you are referring to it as the API alongside the Sponge implementations, it would be "the Sponge API"

Long story short, if you can drop in replace the word 'API' into 'Sponge AP

[2017-09-13 19:02] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/blocks/accessing.rst#L108
https://github.com/SpongePowered/SpongeDocs/blame/master/source/plugin/blocks/accessing.rst#L108

`value's` -> `values`

[2017-09-13 19:14] tomudding commented on #437
@ryantheleach That is indeed an interesting thing I didn't think of. I was just thinking to change it so everything is the same throughout the Docs (as once mentioned in #docs on Discord), not keeping something like this in mind.

In most cases it probably won't matter which one you'll use, because it will still be obvious what we mean.

I'll leave this decision (and the grammatical aspects of it)

[2017-09-13 19:22] tomudding commented on #437
To keep the usage of certain terms consistent throughout a file/the whole docs a few things need to change (this list will be updated in the future):

- [ ] Change '_int_' in [[../source/server/getting-started/configuration/sponge-conf.rst](https://raw.githubusercontent.com/SpongePowered/SpongeDocs/stable/source/server/getting-started/configuration/sponge-conf.rst)] (under 'Spawner') to '_integer_

[2017-09-13 20:22] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/blocks/concepts.rst#L41

Remove double `:`

[2017-09-16 09:25] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/commands/flags.rst#L101-L102

This sentence is hard to understand. maybe it should be changed to:

`using the equal character (``=``) in the command`
or
`using equals (``=``) in the command`

[2017-09-21 18:04] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/entities/spawning.rst#L16

This should probably be:

`You will need three things for spawning an Entity: a Location, an Extent, and an EntityType.`

[2017-09-22 17:29] ST-DDT opened #627 "Document composite logging options"
As discussed on IRC with @Minecrell

It would be a good addition to explain the usage of composite log files:

[code]

`java -Dlog4j.configurationFile=log4j2_server.xml,log4j2_custom.xml server.jar `

https://logging.apache.org/log4j/2.x/manual/configuration.html#CompositeConfiguration

[2017-09-22 17:54] ST-DDT commented on #627
Hack/workaround for some plugins with noisy libraries:

[code]
This workaround must be disable-able and documented on the plugin page.

[2017-09-23 11:42] ST-DDT commented on #613
Pinging @windy1 @SpongePowered/ore is there an option to only download the jar that was embedded inside an uploaded zip file? Is there a way to validate the signature of that jar? (How is the jar identified if there are more than one?)

IMO its most likely that neither is not possible.

Related docs page: [Ore - Web-API - Download Project Version](https://docs.spongepowered.org/stable/en/ore/route

[2017-09-23 17:59] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/items/usage.rst#L79-L80

`block` -> `tool` or `item`

[2017-09-24 10:05] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/optional/basic.rst#L84

This sentence is really unclear IMO. It would be clearer if it would be changed to
`... exacerbates the previous solution.`

[2017-09-27 19:06] ST-DDT commented on #437
* [x] https://github.com/SpongePowered/SpongeDocs/blob/stable/source/plugin/text/representations/xml.rst
https://docs.spongepowered.org/stable/de/plugin/text/representations/xml.html

This section is obsolete/deprecated, because it does no longer exist in the [API](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/serializer/TextSerializers.java) AFA

[2017-09-30 12:59] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/text/representations/configurate.rst#L19-L20

The second `and` should be an `an`.

[2017-09-30 13:03] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/text/index.rst#L9-L10

The `Text` link at the end should be replaced by a link to `TextAction`.

[2017-10-05 08:52] #541 closed

[2017-10-12 21:20] Dannyps commented on #437
I'll take care of the issues after the SpongeAPI/Sponge API discussion. You may let your OCD drop just a bit for the next few days :)

[2017-10-14 12:47] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/effects.rst#L35-L36

This sentence looks douplicated IMO.

[2017-10-14 21:02] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/effects.rst#L88

Should probably be `particles and sounds` (because that are the previous examples).

[2017-10-14 21:11] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/effects.rst#L85

I'm not sure whether this is the right header/title. As the section is actually about `PotionEffects`.
(Nothing to drink or throw at all.)
I know that is a subsection of `effects` but both terms exist and there is an important difference between both.

[2017-10-16 22:49] pie-flavor opened #630 "Misleading information in plugin management section"
In <code><a href="https://github.com/SpongePowered/SpongeDocs/blob/stable/source/server/management/plugins.rst">plugins.rst</a></code>:

Sponge is not hesitant to break plugins for a better API, as evidenced by the recent command changes, and plugins are prone to stop functioning without being updated, even if based on stable releases. This section would be better off being replaced with a user-fr

[2017-10-16 23:23] ryantheleach commented on #630
Sponge does make an effort to keep old plugins working. Just not at the expense of bad API.

[2017-10-17 02:22] gabizou commented on #630
It does make an effort within the same major version. If we had kept the same API release for multiple Minecraft versions, we could support multiple Minecraft versions. In the current case, there are three supported API versions of which have their own Minecraft related version. We could link to semver for the sake of mentioning to plugin developers and server owners, but ultimately, the major API

[2017-10-17 02:32] pie-flavor commented on #630
@gabizou Yes, and it could be misleading for some; they could read the page and be under the impression that plugins are likely to work across a few major releases. I came across this when i was attempting to respond to a forum post about whether API 6 plugins would work in API 7, and found that there wasn't any (user-intended) documentation to link to.

[2017-10-17 09:43] Inscrutable commented on #630
A caveat could be added about experimental/bleeding builds, as that's where most of the big breakage has been. But the best we can really offer is to suggest they try it and see, as changes made in the API don't always have a broad influence, and so may affect fewer plugins. Exactly what plugins break is determined by going into the nitty gritty of the API changes, and semver is a crude approximat

[2017-10-23 13:08] ImMorpheus commented on #437
- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/about/glossary.rst#L22 | http://www.minecraftforge.net/wiki/Core_Mod is dead.

- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/about/glossary.rst#L32  | http://www.minecraftforge.net/wiki/ -> https://mcforge.readthedocs.io/en/latest/

- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/abo

[2017-10-24 00:02] ryantheleach commented on #437
Offtopic: I'm not sure of the reasons of Forge moving to ReadTheDocs I just remember that we migrated away, hope it's not a issue they will run into.

[2017-10-26 18:25] Meronat commented on #518
@Inscrutable This can be closed with https://github.com/SpongePowered/SpongeDocs/pull/519

[2017-10-26 20:08] MarkL4YG commented on #518
How didn't this ^^''

[2017-10-26 20:08] #518 closed

[2017-10-29 02:11] Keaton1188 opened #632 "Silent Gems - Dupe Bug - Sponge Issue"
Hi there, I have noticed a dupe bug with the Chaos Altar, this dupe bug does NOT happen on single player so guessing its an issue with sponge.

What you do - Place down the Chaos Alter, put any item in it and break it with a pickaxe, the item that you put in it will double when you break the Altar.

FTB Horizons 3 - Newest Version (1.0.0)

SpongeForge:
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-b

[2017-10-29 09:16] ryantheleach commented on #632
@Keaton1188 Thanks for the report!

Unfortunately this issue will be closed as soon as someone with access see's it.

This repository / issue tracker is reserved for issues pertaining to Sponges documentation, docs.spongepwered.org

For future reference, we have 4 'dev' repositories that accept tickets.

https://github.com/SpongePowered/SpongeAPI
https://github.com/SpongePowered/SpongeCommon
https

[2017-10-29 09:52] #632 closed

[2017-10-29 14:12] Keaton1188 commented on #632
My bad! Thank you.

[2017-11-14 12:33] #482 closed

[2017-11-19 19:58] ST-DDT commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/contributing/spongedocs.rst#L35

Code Styling/formatting

and also

`Contributions` or `Contributors`?

[2017-11-27 15:13] InterStena commented on #437
https://github.com/SpongePowered/SpongeDocs/blame/stable/source/server/spongineer/logs.rst#L5

Should be:

[2017-11-27 21:06] ST-DDT commented on #592
* [x] Mention Sponge needs Java 8.0.40
* [ ] Link to how to install Java / config JRE
* [ ] Mention alternative download section
* [ ] Automatic download page
  * Can somebody  verify whether https://java.com/en/download/ will point to a link that actually to a proper x64 variant?

[2017-11-27 21:20] LordRalex commented on #592
Java.com may not always point right.

Firefox and Chrome pulled 64 bit for me, but IE 11 pulled a 32 bit, which when I did the install to, picked off the old Java 7 installed which is 32bit.

[2017-11-29 21:11] ST-DDT opened #640 "Outdated imports in docs"
I checked the docs for imports that are no longer working with v6.0 and found these:

EDIT: (Removed outdated list)

The test tool to collect all used imports:

[code]

[2017-11-29 22:47] ST-DDT commented on #640
And these imports are no longer used:

EDIT: (Removed outdated list)

Collected by this tool:

[code]

[2017-12-02 23:07] Cybermaxke opened #641 "Document login permissions"
The permissions added by the following PR (is merged) should be documented somewhere:
https://github.com/SpongePowered/SpongeCommon/pull/1012

[2017-12-03 11:25] ST-DDT commented on #641
This should probably added to
* https://github.com/SpongePowered/SpongeDocs/blob/stable/source/server/management/whitelist.rst
* and https://github.com/SpongePowered/SpongeDocs/blob/stable/source/server/spongineer/commands.rst

And while we are at it:
* https://github.com/SpongePowered/SpongeDocs/blob/stable/source/server/management/permissions.rst
* and https://github.com/SpongePowered/SpongeDocs

[2017-12-07 01:53] ryantheleach commented on #361
This would make a good addition, bar adding docs regarding the new Forge Permission API.

[2017-12-07 05:30] MoeBoy76 commented on #361
Fixed by #621

[2017-12-07 05:30] #361 closed

[2017-12-10 11:14] ST-DDT commented on #437
* [x] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/server/getting-started/configuration/sponge-conf.rst#L113

Should be

`Set to false if you want this mod to ignore entity collision rules.`
This is also wrong in the default config.

[2017-12-10 11:23] phit commented on #437
the config files in general really need some cleanup, lots of outdated comments

[2017-12-14 11:06] #592 closed

[2017-12-18 23:20] ryantheleach opened #644 "Brief Tutorial on Logging?"
Would a brief tutorial in log4j2 logging configuration be in scope? Who do we have that has decent knowledge of log4j2 that could contribute an article?

Related: https://github.com/SpongePowered/SpongeDocs/issues/627

05:20 | <⇅k​i​l​l​j​o​y​> | use a log4j2.xml
-- | -- | --
05:22 | <⇅k​i​l​l​j​o​y​> | https://logging.apache.org/log4j/2.x/manual/configuration.html
05:23 | <⇅k​i​l​l​j​o​y​> | laun

[2017-12-18 23:43] phit commented on #644
this is broken on 1.12 forge fyi

[2017-12-22 15:29] JBYoshi commented on #644
I thought Sponge uses slf4j?

[2017-12-22 15:43] kinggoesgaming commented on #644
Yes sponge uses slf4j but it's just abstraction over a real logging framework so that if the logging framework is changed in the future, if slf4j supports it developers don't have change their code to adapt

[2018-01-07 01:59] #619 closed

[2018-01-07 09:44] #641 closed

[2018-01-08 11:27] Inscrutable commented on #165
This is still a very old and unloved issue. Feel like taking another shot at it @Meronat @Aaron1011 @ryantheleach and or anybody else?

[2018-01-08 15:21] 12AwsomeMan34 commented on #640
As far as I can tell, this doesn't seem to check for outdated method references?
e.g. [Location#removeBlock(Cause)](https://github.com/SpongePowered/SpongeDocs/blob/Update-to-7.0.0/source/plugin/blocks/modifying.rst#changing-a-blocks-type) -> [Location#removeBlock()](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/world/Location.java#L624)
Since Locatio

[2018-01-08 15:28] ryantheleach commented on #437
https://docs.spongepowered.org/stable/en/server/spongineer/commands.html Should mention the /minecraft:xyz fallbacks in an info box.

[2018-01-08 20:15] ST-DDT commented on #640
Yeah, I will fix that when I look into this (soon).

[2018-01-21 20:26] Ewoutvans opened #650 "Render problem in Child Commands"
In `Child Commands`
Title `Fallback behavior` not rendering correctly (also not rendering through Github so maybe a spacing issue?)

![schermafbeelding 2018-01-21 om 21 20 54](https://user-images.githubusercontent.com/3961526/35198612-83120374-fef1-11e7-837d-0ea4cdab9736.png)

[2018-01-22 08:17] #650 closed

[2018-01-24 08:22] LazoYoung opened #651 "Outdated references on Event Causes page."
[This part](https://docs.spongepowered.org/stable/en/plugin/event/causes.html#named-causes) describes how to retrieve named objects in cause chain.

[code]

The sample code refers to `Cause#get(String, Class)` and `NamedCause`  which don't exist in the current javadoc for SpongeAPI. I guess those were replaced by EventContext since [the refactor on event causes](https://github.com/SpongePowered/Sp

[2018-01-24 11:57] ST-DDT commented on #651
Probably related : https://github.com/SpongePowered/SpongeDocs/issues/640

[2018-01-24 14:52] LazoYoung commented on #651
Document also needs to provide the usage for EventContext, replacing the old NamedCause examples.

[2018-01-27 19:40] ImMorpheus opened #652 "Document Minecraft-API mapping"
Would be good to have a page showing the minecraft version associated with the sponge API (I've seen it asked on discord a couple of times today).

[2018-01-27 20:41] sibomots commented on #652
Run this script:
https://gist.github.com/sibomots/24dd0ddcd69c565786837e56bc1adac2

Edit to suit.

[2018-01-28 13:09] The-Defman opened #653 "Outdated references Ray Tracing"
Pull request #655

maxDistanceFilter is no longer present at Sponge API7
filter have been replaced with skipFilter and stopFilter

Suggested changes is as followed

[code]

to

[code]

and the Predicate ``BlockRay.maxDistance``have been removed entirely.
* ``maxDistanceFilter(Vector3d, double)``: returns a filter that stops at certain distance from the given Vector3d

https://github.com/SpongePowe

[2018-01-28 18:14] MinusKube commented on #139
Is someone actually working on this? Maybe you can create a branch so we can start working on it together? :)

[2018-01-28 19:39] ryantheleach commented on #653
Hey @The-Defman Reviewing this change, I'd recommend that people use the BlockRay Builder's distanceLimit() option.

`     public BlockRayBuilder<E> distanceLimit(double distanceLimit)`

This simplifies the maxDistanceFilter somewhat by removing the extra Vector3d as most people wanted to measure the distance from the origin anyway, In addition I can't find maxDistanceFilter in the API? Can you li

[2018-01-28 19:59] ryantheleach commented on #139
@MinusKube Not to my knowledge, but any sort of a start would be appreciated.

[2018-01-28 20:25] The-Defman commented on #653
What I tried to write is that maxDistanceFilter have been removed and the documentation should reflect the use of ``distanceLimit(double distanceLimit)`` instead.

[2018-01-30 22:02] MinusKube commented on #437
The text `Examples of block properties` in `plugin/blocks/concepts` is not translatable.
I guess it's due to the `topic`.

https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/blocks/concepts.rst#L13

[2018-01-31 08:53] Inscrutable commented on #653
I'd be delighted if you bundle these suggested changes into a Pull Request that we can beat into shape. It's easier to discuss that way, and others can contribute to finalise it.

[2018-01-31 09:03] Inscrutable commented on #437
Regarding the ``plugin/blocks/concepts`` page issue: As we rarely used ``topic`` anywhere in the docs, we can reformat that bit and see what happens. It *should* be editable, just like the contents of a ``note`` or a ``tip``, but we have noticed some eccentricities in the translatable parts on Crowdin recently.

[2018-01-31 09:46] #565 closed

[2018-01-31 10:17] The-Defman commented on #653
I have now created a pull request at #655. This is my first pull request and feedback will be loved. As a final note I'm not a native speaker and therefor the spelling might be slightly off.

[2018-01-31 20:34] ImMorpheus commented on #595
I'm gonna close this as the link has been removed.

[2018-01-31 20:34] #595 closed

[2018-02-04 05:21] Inscrutable opened #657 "Numbers in Titles make Translation fail"
We have encountered a problem with the way some of the translated Titles in pages are being handled by Sphinx. Any title that starts with a number and a fill stop (eg ``1. Example``) is treated as a RST list, and the translation isn't applied when the docs are built. The effect is highly visible on many of the published SpongeDocs translations which are near-complete, as the plain English text sta

[2018-02-09 22:53] #653 closed

[2018-02-10 07:54] liach commented on #356
I will try this one.

[2018-02-12 23:37] Dannyps commented on #437
- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/ore/publish.rst#L96
`If you're using build manager` should be `If you're using **a** build manager`. I think.

[2018-02-14 15:07] #651 closed

[2018-02-14 15:08] Inscrutable commented on #640
The list can be whittled down a little, thanks to #656

[2018-02-14 15:13] Inscrutable commented on #437
- [x] On the ``server/getting-started`` page, SpongeForge needs at least Java 8 build _20_, not _40_.

[2018-02-14 22:39] ST-DDT commented on #640
I will try to update the list the weekend.

[2018-02-15 10:47] Inscrutable commented on #139
The person who knows the most about how this is supposed to work in its' current form is @Faithcaio so it would be of great use if @MinusKube and anyone else available could collaborate and eke out something for this great absence, which also happens to be the **VERY OLDEST ISSUE IN THIS REPOSITORY.**

[2018-02-15 10:50] Inscrutable commented on #267
Do we now have enough documentation on causes to justify closing this issue?

[2018-02-15 10:54] Inscrutable commented on #505
What's the present status of this @ryantheleach ? It should be easy enough to document as a ``note`` on the *commands* page.

[2018-02-15 10:57] Inscrutable commented on #493
This needs resurrection for API 7 or a decent burial. Should we close this and move on @12AwsomeMan34 ?

[2018-02-15 20:44] LordRalex opened #664 "License page uses 3 columns instead of paragraphs"
https://docs.spongepowered.org/stable/en/about/license.html

The page currently shows each paragraph in a vertical column, this makes reading this page nearly impossible as they are paragraphs.

The page should follow how other pages go and read downward.

[2018-02-16 07:11] Inscrutable commented on #664
I saw this last night too. It's downright weird, as that page hasn't changed since early last year. This will need some investigation, as the original looks normal to me. Something in our post-processing has messed this up somehow.

[2018-02-16 07:53] #664 closed

[2018-02-18 06:29] ItsDoot opened #665 "Mistype in "List Users" section of Ore Web API"
![image](https://user-images.githubusercontent.com/9044780/36349029-c2e9a054-1442-11e8-97c2-0aca6db41b1a.png)

[2018-02-18 07:00] parlough commented on #665
@progwml6 What is the actual format of the createdAt? I'm assuming the second entry(gabizou's) is supposed to be like Zidane's?

[2018-02-18 08:37] ST-DDT commented on #665
Refers to this page: https://docs.spongepowered.org/stable/en/ore/routes/list-users.html

-----------------

Slightly offtopic but have we documented the base url for the Ore API somewhere? I couldn't find it.

[2018-02-18 17:44] ST-DDT commented on #640
Tested with API v7.0.0 again:

The following imports are no longer valid:

* [x] org.spongepowered.api.data.value.mutable.BoundedValue
* [x] org.spongepowered.api.effect.particle.BlockParticle (#638)
* [ ] org.spongepowered.api.event.cause.entity.spawn.EntitySpawnCause
* [ ] org.spongepowered.api.event.cause.entity.spawn.MobSpawnerSpawnCause
* [ ] org.spongepowered.api.event.cause.entity.spawn.Spa

[2018-02-18 18:03] ItsDoot commented on #665
@ST-DDT Pretty sure it's just https://ore.spongepowered.org

[2018-02-18 20:17] ST-DDT commented on #640
There are also references to
* [ ]  `DataManipulator#registerGettersAndSetters()`
* [ ]  `ImmutableDataManipulator#registerGetters()`
* [ ]  `Cause#get(String, Class)`
* [x] `Location#removeBlock(Cause)`
* [x] `Location#setBlock(BlockState, Cause)`
* [x] `Location#setBlockType(BlockType, Cause)`

that don't seem to be valid any more.

For the location ones I know how to fix them (and PRed it alrea

[2018-02-18 20:28] felixoi commented on #665
The base url is https://ore.spongepowered.org/api

[2018-02-18 21:10] ST-DDT commented on #665
If I/we fix this issue we should probably also update the examples, as there might be new values in there.

[2018-02-26 18:05] TheNullablePrototype opened #668 "Error in the documentation"
http://joxi.ru/BA0vEgYSJONZOm
https://docs.spongepowered.org/stable/ru/plugin/economy/practices.html

[2018-02-26 18:31] ST-DDT commented on #437
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/economy/practices.rst#L64

Is:

Should be:

(Remove duplicate bracket)

As reported by #668 .

[2018-02-26 18:33] ST-DDT commented on #668
Thanks for pointing out this typo.
We track these kind of issues in the OCD list, so you can post there in the future.

[2018-02-26 18:33] #668 closed, assigned to nobody

[2018-02-27 07:30] #602 closed

[2018-03-01 22:10] ST-DDT commented on #437
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/ore/publish.rst#L156

is:

Mentioned by @Dannyps on IRC:

[2018-03-04 14:55] TheNullablePrototype commented on #437
_An error in the documentation or something I do not understand?_
http://joxi.ru/MAjlOW5u4My50m
https://docs.spongepowered.org/stable/ru/plugin/offline-userplayer-data.html#code-example

[2018-03-04 18:55] ST-DDT commented on #437
@ImagePrototype Yes thats an error in the documentation:

Should probably be:
[code]

Ref: https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/offline-userplayer-data.rst#L44

But this piece of code looks too confusing anyway. We should probably ask the API team for the recommended way to do it.

EDIT: According to killjoy checking the online players first is unnecessary overhea

[2018-03-05 12:04] Inscrutable commented on #437
That one probably justifies a separate issue, if only so we can add a reviewer or two. It certainly seems to be larger than the usual trivial issues we put here.

[2018-03-19 19:10] phit opened #673 "Logging changes"
SpongeDocs will need to be updated to reflect the logging changes in Forge 1.12, mainly opening an issue here as an reminder for myself.
This is already outdated even without the other stuff I'm gonna link here
https://docs.spongepowered.org/stable/en/server/spongineer/logs.html#spongeforge-logfiles
as the only useful log file in 1.12 was fml-junk, which was now removed

https://github.com/mezz/Mi

[2018-03-19 23:35] benjaminmordaunt opened #674 "Function for getting online/offline user returns incorrect type"
SpongeDocs/source/plugin/offline-userplayer-data.rst

Method returns `Optional<Player>` when `Optional<User>` is needed. Does not compile.

[2018-03-25 01:05] Inscrutable commented on #557
Is this still unresolved @Minecrell ? If so I can bring it up at SPAM next weekend.

[2018-03-25 10:18] stephan-gh commented on #557
@Inscrutable Yes, I still need an email address and a secure place to store the passwords of the "Sponge" Crowdin account and the @Spongy GitHub account.

[2018-03-30 08:00] tomudding commented on #437
A few Terms of Service related issues:

- [x] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/about/tos.rst#L105
It should be `(3.4) Ore` because Ore should be outside the parentheses, like all other platforms mentioned.

- [x] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/about/tos.rst#L33
Missing a `,` between `“Our” “SpongePowered”`.

[2018-04-01 20:36] nihiluis opened #675 "Add note to Plugin Mixins that the jar file has to be placed in the mods folder for SpongeForge"
I made the mistake to place my mixin jar file into the mods/plugins directory while using SpongeForge. It has to be placed into the mods folder though. I think a note might save someone like me some time in the future.

[2018-04-02 00:23] Inscrutable commented on #675
There is **already** a note in https://docs.spongepowered.org/stable/en/server/management/plugins.html to this effect. ``Please note that plugins which make use of Mixins must reside inside the mods folder.``

[2018-04-02 00:24] #675 closed, assigned to nobody

[2018-04-02 14:53] nihiluis commented on #675
So? I was reading this when I first started Sponge with no interest to Mixins whatsoever. Then I became interested in Mixins and of course didn't read the Installing Plugins again.

Do you think everyone studies the documentation and then is done with it for ever?
Or from another point: Why would I return to that page? What's your supposed reason?

And why do you think it would be unfitting to hav

[2018-04-02 15:13] phit commented on #675
where would you like the note to be besides under installing plugins? that seems most relevant

[2018-04-03 11:21] nihiluis commented on #675
Maybe right at the bottom of the page at https://docs.spongepowered.org/stable/en/plugin/internals/mixins.html
and continue the list with i.e.

[code]

not perfect, but ok imo.

[2018-04-05 04:22] DragaoNimhe opened #676 "Entities in every dimension except spawn world invincible"
Hey there, I looked through all open issues and was unable to find another similar to mine, I apologize if this has been brought up already. I'm a developer for the Mech and Magic modpack on ATLauncher, and we're getting ready to launch a server for the pack. We are running into a major issue, however; all entities that are not in the initial spawn world will not drop in hearts or die when attacke

[2018-04-05 05:07] CathalCraft commented on #676
Same exact issue on my server as well with the Sponge Forge 1.12.2-7.1.0 builds. It's very annoying and I'm glad to hear I'm not the only one so this could be resolved.

[2018-04-05 10:14] phit commented on #676
Please post this on the [SpongeForge](https://github.com/SpongePowered/SpongeForge/issues) issues tracker, this here is to track documentation issues for the Sponge [Documenation](https://docs.spongepowered.org/). Not bugs, crashes etc.
https://github.com/SpongePowered/SpongeForge/issues

make sure to fill out the provided issue template, thanks!

[2018-04-05 10:14] #676 closed, assigned to nobody

[2018-04-05 10:14] Inscrutable commented on #676
Hi folks. We appreciate your well-formulated bug reports very much!

However, this is the *SpongeDocs* repository, so all we can do is write about it. You might want to put this issue in the [*SpongeForge* repo](https://github.com/SpongePowered/SpongeForge), where they can make better use of the info.

PS: Don't forget to include the version(s) of Forge used, and a list of the mods would be great.

[2018-04-13 13:32] #523 closed

[2018-04-15 14:32] Inscrutable commented on #557
I believe this has finally been resolved. Contact me or Zidane if there are any further problems.

[2018-04-15 14:32] #557 closed

[2018-04-15 20:42] ST-DDT commented on #640
Up to this point everything mentioned here has been fixed.

Except for:

* [x] The imports/references to
* org.spongepowered.api.event.cause.entity.spawn.EntitySpawnCause
* org.spongepowered.api.event.cause.entity.spawn.MobSpawnerSpawnCause
* org.spongepowered.api.event.cause.entity.spawn.SpawnCause

which were lost in [Split Cause and Context](https://github.com/SpongePowered/SpongeAPI/commit/d5d

[2018-04-15 21:27] ST-DDT commented on #665
Apparently this got fixed in https://github.com/SpongePowered/SpongeDocs/commit/e02b2d6bf12ab9413fabac5f4d18eda10ce6ac46

[2018-04-15 21:27] #665 closed, assigned to nobody

[2018-04-17 12:24] Inscrutable commented on #267
This issue is being closed in favour of #469

[2018-04-17 12:29] Inscrutable commented on #192
That PR has been closed, and the whole kaboodle was kicked into the too-hard basket of API 8.
The only folk who know the present status of this are @ryantheleach or @kashike

[2018-04-17 17:53] 12awsomeman34 commented on #493
I meant to close this after seeing your comment, oops.

Yeah this is pretty old stuff and a new sweep of the docs is probably needed to check for outdated-ness.

[2018-04-17 17:53] #493 closed

[2018-04-18 08:53] #674 closed, assigned to nobody

[2018-04-18 08:58] Inscrutable commented on #673
The linked issue was closed; is this still a problem @phit ?

[2018-04-18 09:01] Inscrutable commented on #579
Is this still on your to-do list, or shall I tack on "help wanted" @Minecrell ?

[2018-04-18 10:20] phit commented on #673
the bugs are mostly fixed, but yes the docs still need to be updated

[2018-04-20 15:50] Inscrutable commented on #555
I believe most of the issues raised here have since been resolved (or become outdated). SpongeDocs is still only built when PR's are merged, although I can trigger a build whenever required.
We can commiserate with translators having trouble keeping up; it's difficult for us to keep up with API changes, too. ;)

[2018-04-20 15:50] #555 closed

[2018-04-21 07:42] Pulverizer opened #684 "Reorder sections to make it easier for noobs"
Some sections in plugin creation could do with reordering so it is easier for noobs like me to read it as we begin coding.

Sections noticed so far with a recommended order of placement:
Basic Listener Info > Config Basics + Guide > Complex Config Info

[2018-05-04 12:04] afriestad commented on #684
I would also recommend moving "Text" in between "Logging and Debugging" and "Commands", as Commands has a note that recommends reading the Text docs first.

[2018-05-08 07:55] parlough commented on #618
I'll be working on an API 7 cleanup soon. Summer break here I come.

[2018-05-08 08:04] parlough opened #689 "Clarification of code sample licensing"
From the looks of it, even code snippets are licensed under `CC-BY-SA-4.0` which is not meant for code, and has some implications that basically makes a lot of plugins which may have taken code from the docs break the license.

The code on the docs is meant for developers to use and not have to be worried about meeting some license requirements. I honestly think we should release all code samples/

[2018-05-08 08:12] parlough opened #690 "Larger scale examples"
At the moment, we have small samples throughout the documentation, and we have some commonly outdated larger samples in the Cookbook repository. I am pondering adding a new section under the `Creating a plugin` category with pages about larger scale samples, with some information on the docs, maybe some code snippets, and links to the full projects.

If this comes to fruition, I hope it replaces C

[2018-05-08 08:21] parlough commented on #550
I'm not ready to take this up just yet, but I agree with Tzky on including some basic snippets on the IntelliJ page, but possibly having its own major category under "Ore Documentation" called "MinecraftDev Documentation" would make sense. The is useful for others beyond just plugin developers, especially for those developing with Mixin or with Sponge itself.

If anyone takes this up, know you can

[2018-05-08 08:26] gabizou commented on #690
Ideally, the larger scale plugins would be provided from [SpongeCommon/testplugins](https://github.com/SpongePowered/SpongeCommon/tree/stable-7/testplugins/src/main/java/org/spongepowered/test) since those are required to compile and well... work. Since they're used for testing and proving something is working, I think it should be responsible for wooing some more advanced plugin examples.

[2018-05-08 08:29] parlough commented on #690
@gabizou I would like to keep the plugins in their own repository, as they are more specific to the API(and can be used on other implementations), and I want to be able to work on them without opening up all of Sponge. They are easier to view for others that way as well(which is the intention of these samples). I would be happy to include them as a **Git submodule** though inside of SpongeCommon.

[2018-05-08 09:24] ST-DDT commented on #689
I'm willing to help you with this.

If we rewrite  code examples we should think of a way to detect scripts that no longer compile after a api update. So they won't get outdated again. Maybe we can do it as part of #690

[2018-05-08 17:14] gabizou commented on #690
I'd be ok with that. Let me know what you want the repository named (or we could just destroy the cookbook plugin repo and rewrite it with the test plugins). One issue could be for the plugins themselves having the dependency on spongeapi from the parent gradle files wouldn't quite work out without importing spongecommon.

[2018-05-09 07:12] Inscrutable commented on #690
Substituting the existing CookBook would be acceptable, as it's often out-of-date, but might lead to confusion. A new repo would be better. Some name suggestions: The Sideboard, Sink, SqueegeeFarm, Blotter, SpongeToolBox, AbsorBook, SplatKit, SpongeGallery, the Galley, HomeSponge, Saturator, SpongeKaboodle, Infusion Pool, Reservoir, Lake Spongie, The Sea of Sponge, Soakbox, Spongy Skeletons, Porou

[2018-05-09 07:14] parlough commented on #690
I was waiting for your name suggestions ❤️

I'm not sure which I like best just yet...but I'll sleep on it.

---

In relation to the Gradle requirements for SpongeCommon, we can probably work some Gradle magic in overriding their SpongeAPI dependency to be the API submodule when loaded in. Might need some help on that once I get to that point, but we can figure something out.

[2018-05-09 08:25] #684 closed, assigned to Inscrutable

[2018-05-09 08:33] Inscrutable commented on #550
As a first pass, just adding a reference to the Minecraft Dev docs on the IntelliJ page ("this is nifty") would suffice. Later, we can make our own general page for it, and link that internally where needed.

[2018-05-09 08:45] Inscrutable commented on #689
It may seem odd, but SpongeDocs is effectively a *textbook* and the code examples are treated as such. They should be able to be re-used without license implications, under some interpretation of "Fair Use" (the right to use portions of copyrighted materials without permission for purposes of **education**, commentary, or parody). The usual acknowledgement for a written reference would apply in th

[2018-05-10 23:57] parlough commented on #689
Say we relicense the code examples under the MIT license, should we still include this fair use statement? I feel it still has value and our stance is still the same.

[2018-05-11 04:25] Inscrutable commented on #689
Something like "As SpongeDocs is an educational resource, we interpret Fair Use of the code examples in SpongeDocs to include their use in Sponge plugins of any kind, without license restrictions. Please acknowledge SpongeDocs when this is the case"  and maybe an example:
"Some parts of this plugin were developed from examples found in the SpongeDocs [Link]." ?

[2018-05-11 04:35] Inscrutable commented on #689
Actually, if you slap the MIT license on everything, Fair Use might have to go out the window anyway. I'm not sure which trumps which; *Fair Use* is a looser standard and MIT is explicit. However, as the license holder, you can interpret and/or modify it for yourself.

[2018-05-11 04:45] parlough commented on #689
You've got a good point. In a majority of cases people will use it as an educational basis, rather than directly copying. It's about learning. How about something like:

"""
While the code examples are licensed under the MIT license, the documentation is meant to be used as an educational resource and not to be directly copied, and if used as such we will interpret the usage as fair use. If your u

[2018-05-11 08:23] ryantheleach commented on #689
Explicitly licensing the code sections as MIT, would imply people can't use them without also releasing their plugins as MIT.

I think relegating it to fair use for educational use is fine as-is, as it protects anyone using it in plugins for any purposes, whilst if someone copied every code example out for sake of making a competing Sponge Docs without abiding by the Creative Commons licensing alr

[2018-05-11 08:35] parlough commented on #689
@ryantheleach MIT license does not require releasing your source code under MIT license or even releasing your source code at all, but instead only that the license and copyright notices are included in your distributions. While the CC-BY-SA-4.0 license which it is currently licensed under does require releasing your work and modifications under the same license due to the share-alike portion whic

[2018-05-11 09:05] dualspiral commented on #689
I want to preface this statement, and add to this discussion that **none of us are lawyers and cannot give an official legal opinion**. That said, I want to try to add some of my understanding into this.

Short version: **This should not be assumed to be fine.**

Long answer: You have to be careful with the "fair use" doctrine. Fair use is a national thing, not a global thing. Just because somethi

[2018-05-11 09:14] parlough commented on #689
Whether it is MIT license, some other license, a custom license, or even an exception rewritten examples is pretty much a must.

My goal is to be explicit and if we just want to flat out say something along the lines of

"""
The code examples are meant to be instructional only but if you feel you must use them in your plugins, we provide an exception from the normal license, where you can use the

[2018-05-11 12:27] Inscrutable commented on #689
If you end up as the sole contributor to the code examples, then you should be free to add whatever caveats you wish to your licensing, including a statement _defining_ what constitutes Fair Use in these circumstances. Subsequent contributions would then implicitly follow this convention. However, you'd still need to consider whether prior work also needed to be acknowledged, and licenses again re

[2018-05-24 20:22] GenuinoRobot opened #693 "Java 1.8.172 and 1.8.171 doesnt work for vanilla 1.8-3.1.0"
Both versions are over the 1.8.0_40, or is it too new for the server, because its 1.8?

sorry for my bad english, I am from Germany.

My java version after updating to 1.8.172 (with java -version)

<pre>java version &quot;1.8.0_172&quot;
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)
</pre>

and this is my command to start and

[2018-05-24 21:36] Grauldon commented on #437
I have 7 more commits ready for another PR.  I am going through this list and checking for more changes I can make.  I hope to have a PR ready in the next day or two.

[2018-05-24 22:20] phit commented on #693
this is the wrong repo for this report, and minecraft 1.8 hasn't been supported since late 2016, the only currently supported version is 1.12.2 if you have any issues with that you can report them [here](https://github.com/SpongePowered/SpongeVanilla/issues)

[2018-05-24 22:20] #693 closed, assigned to nobody

[2018-05-25 02:56] Grauldon commented on #437
***
I have commits ready for the following issues:

***
I can do the work for the following issues; I just need some guidance and/or decisions from someone more familiar with the documentation/code:

***
Once these issues are resolved, the only remaining issue after [PR #616](https://github.com/SpongePowered/SpongeDocs/issues/437#issuecomment-317228700) is the SpongeAPI vs Sponge API comments star

[2018-05-25 06:08] ST-DDT commented on #437
Go for `PotionEffects`

AFAICT this refers to the config files itself and not the documentation, so there is nothing for us to do here.

Just write a short paragraph mentioning this and we will comment on it in your PR.

Add linebreaks and go for `Contributors`.

IMO this can be ignored. If someone finds a wrong usage of this term he should report it here or fix it. Because otherwise we need a gra

[2018-05-25 08:00] ryantheleach commented on #437
in short, when there are conflicting commands in Sponge, that conflict with the games native commands, we also have the command's primary alias, with a prefix of the mod/game/plugin.

So if someone registers a /tp command in a plugin, that is say, incompatible with your camera mod, if you can configure your camera mod to use /minecraft:tp instead, you will get the expected behavior again.

The sam

[2018-05-26 01:21] Grauldon commented on #437
I have the changes ready.  I just need to sort out some issues with git / github.  I am still getting git's workflow down.

[2018-05-26 20:45] ST-DDT commented on #437
Once @Grauldon 's changes are included, I will update most code examples.
The PR for that is almost ready just waiting for https://github.com/SpongePowered/SpongeAPI/issues/1839#issuecomment-392287826.

[2018-05-26 22:43] Grauldon commented on #690
How about these for name suggestions:

SpongeSamples
SpongeXamples
SpongeModels
SpongeNstance (as in Sponge instance)
SpongeUstrate (as in Sponge illustration)
SpongeOnstration (as in demonstration)

[2018-05-27 12:20] Grauldon commented on #657
The code block below demonstrates that adding a close parenthesis prevents Sphinx from handling the text as a RST list.  A number and a full stop/period followed by a close parenthesis is a common manner for enumerating lists.
[code]
results in

1. This
2.) is
6.) more
4. of
20. a
40.) test
2. to
2.) check
3.) my
10.) theory

Question: Is there a way to test the translations before changing all of

[2018-05-27 12:28] Grauldon commented on #657
Here is another option I just found: escape the full stop/period and we should be able to use the existing format without Sphinx handling them as lists.   I suggest this approach.
[code]
results in

1\. This
2\. is
6\. more
4\. of
20\. a
40\. test
2\. to
2\. check
3\. my
10\. theory

[2018-05-27 13:16] ST-DDT commented on #657
Isn't this just a bug in the tool that extracts the translation sources?

https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/manager.rst

[code]

seems to work and is translateable.

https://github.com/SpongePowered/SpongeDocs/blame/stable/source/contributing/howtogit.rst
[code]
fails (at least for ZH-CN).

Both generates a `<h3>` Block, so theoretically it would be enough if w

[2018-05-27 13:26] ST-DDT commented on #657
If my regex  `[0-9]+\. .*\n~{3,}` isn't wrong then `source/contributing/howtogit.rst` is the only page with this kind of issue.
And it also uses the `~` wrongly, since the header order is supposed to be `=` > `-` > `~`. So I guess it would be enough to just fix that page and everything is fine.

[2018-05-27 14:04] Grauldon commented on #657
I used `'^[1-9][\.)]\ '` and found the following pages with the problem:

- source/contributing/howtogit.rst
- source/contributing/implementation/datamanipulator.rst
- source/plugin/manager.rst
- source/plugin/optional/basic.rst

However, I did noticed several other Titles that aren't numbered, but aren't translating either.  They all had the `~` underlining.

[2018-05-27 14:20] ST-DDT commented on #657
These look good to me.

![image](https://user-images.githubusercontent.com/1579362/40586955-453db774-61c9-11e8-891d-2c6ebbcde71f.png)
![image](https://user-images.githubusercontent.com/1579362/40586967-84342738-61c9-11e8-89d0-f444098c1d66.png)

With these additional samples I would narrow the issue down to instances where there is a numbered list before the section header.

[2018-05-28 15:31] Grauldon commented on #657
I have spent many hours trying to determine the flow of the SpongeDocs build process to see if I could debug build errors.  In the process, I have found two missing links on the Docs [homepage](https://docs.spongepowered.org/):
- Chinese Traditional
- Hungarian

Using the links in the bottom left-hand corner of the pages, I checked all of the build logs.  I have a table at [https://pastebin.com/ra

[2018-05-30 06:55] Inscrutable commented on #657
It's possible @Minecrell has some idea where this step it is happening. It's still probably simpler for us to reformat the errant headers than to try tinkering with the Crowdin processing. Also not that languages that fall below 5% translated may drop off the list of built translations, iirc.

[2018-05-30 15:42] stephan-gh commented on #657
Currently, the homepage is not re-built automatically, so new languages only appear when a new build is triggered manually. I just did that so they show up now.

I think I debugged this issue back then and it looked like a bug in Sphinx's translation code. Not the extraction or Crowdin, but rather a bug when the translations are applied during the build. It incorrectly detects the text as enumerat

[2018-05-30 18:56] ST-DDT commented on #437
AFAICT we have now solved all issues listed here, so I guess we can close this issue (and create a new one for future comments). Objections?

[2018-05-30 18:58] phit commented on #437
we could also delete all comments that are no longer relevant, similar to other minor issue lists in the org

[2018-06-01 10:09] Inscrutable commented on #437
I would rather close this issue and keep the comments, and just make a Fresh issue. Should we continue calling it the 'OCD' List (which does have unwanted connotations), or something a little more sanitised?

[2018-06-01 15:18] phit commented on #437
I'd say drop the parentheses, and just call it "Ongoing Minor Issue List SpongeDocs Edition" and make a new issue

[2018-06-02 06:53] Inscrutable opened #698 "Ongoing Minor Issue List SpongeDocs Edition"
Rather than push trivial fixes as PRs, we prefer to collect them together and push them in batches.
Please let us know of any minor corrections, nitpicks, and errors in spelling, grammar or punctuation that are needed, and we shall do our best to see they are dealt with.

This is a reincarnation of the humungous list at #437 - thanks to everyone so far!

[2018-06-02 06:53] Inscrutable commented on #437
Closing this to make way for the new-born #698

[2018-06-02 06:53] #437 closed

[2018-06-10 12:20] #673 closed, assigned to nobody

[2018-06-17 05:17] gabizou opened #705 "Brain Dumps: PhaseTracker Edition"
So, since @Inscrutable asked for some more information on topics to document for the SpongeDocs, one of the priority topics is the PhaseTracker for the implementation in SpongeCommon/SpongeForge/SpongeVanilla.

So..... Without much to do:

PhaseTracker explained in a gist with Markdown:

https://gist.github.com/gabizou/e4d0e9e7fee420612c3519e14c450f16

[2018-06-18 04:41] Inscrutable commented on #705
I can probably start drafting that into something that looks more like our regular style, unless anyone else wants to volunteer. But so far (at a glance) it seems to consist largely of *how it works*, without much on how it can be used (or abused). It is critical to know what you're getting, so the nuts-and-bolts breakdown is useful, but there are probably many use-case needs that aren't yet satis

[2018-06-18 05:58] gabizou commented on #705
Right, I haven't quite finished explaining how it's working, but I'm about to get to how it works once I explain about PhaseContexts.

[2018-07-02 21:15] MinusKube opened #710 "Usage-example of PermissionDescription not up to date"
The usage-example of PermissionDescription [here](https://docs.spongepowered.org/stable/en/plugin/permissions.html#usage-example) is not up to date, since 7.0.0, the `newDescriptionBuilder` [doesn't return an Optional anymore](https://jd.spongepowered.org/7.0.0/org/spongepowered/api/service/permission/PermissionService.html#newDescriptionBuilder-java.lang.Object-), and so, this part should be upda

[2018-07-03 17:38] ST-DDT opened #713 "Add code highlighting support for hocon examples"
Currently the `.. code-block:: `s for hocon don't have highlighting applied to them.
It would be nice if we could have at least minor highlighting.

Is there a more popular format that is close to that of hocon that we could use instead?
Or is it possible to add a custom highlighter?

[2018-07-04 09:40] Inscrutable commented on #710
Many of the code examples in the docs are out of date. @parlough was working on a PR (#691) to update them and amend licensing, I'm not sure how progress is on that.

[2018-07-04 10:47] ST-DDT commented on #710
All Java examples which are declared as such have been checked recently for compiling with the latest api version.
In this case it has been declared as text and thus was missed.

[2018-07-06 12:09] #710 closed, assigned to nobody

[2018-07-09 21:22] ST-DDT commented on #698
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/server/management/exploit-patches.rst#L16

Should be

or

[2018-07-14 02:06] 12awsomeman34 opened #718 "Change the sponge-conf.rst table to a definition list"
This should also include an automated way of generating said definition list so that maintenance of the list is minimal.

Ref https://github.com/SpongePowered/SpongeDocs/pull/714#issuecomment-404988749

[2018-07-15 22:37] mbax opened #719 "Mark old-release Ore guidelines as outdated"
Could the older guidelines (I believe just 6.0.0 and 5.1.0 at present) be updated to indicate they are not the present version of the docs, and link to the latest (stable?)? Some sort of message at the top of the page, I would propose.

[2018-07-19 09:57] Inscrutable commented on #719
If we're going to do this, we should do something similar with the rather more critical pages of Rules, (and eventually TOS, Privacy Policy too). Anything we depend on for licensing, terms and rules needs to point to the latest version as definitive.

[2018-07-19 10:07] dualspiral commented on #719
Is there a way to store these pages outside of the API versioning system? I suspect not, but that would be the ideal solution...

[2018-07-19 10:12] Inscrutable commented on #719
Not that I know of. It would be harder to offer translations too, as it would complicate things with the way we send stuff to Crowdin. It's probably better to just make sure it's clear that the definitive version of our Rules, policies etc should always be found in the latest version.

[2018-07-19 11:35] ST-DDT commented on #719
I will add it to those pages as well.
Can someone search for all relevant pages? I will look myself later on, but I dont want to miss one.

[2018-07-19 22:01] ST-DDT commented on #719
Lets move the discussion to the PR, otherwise we have two places for discussions.

[2018-07-19 22:01] #719 closed, assigned to ST-DDT

[2018-07-21 10:15] RedRelay opened #721 "Action to translate redirect on bad URL"
By contributing in translating when unlogged from crowdin, we are redirect into a bad URL after login (at least using github oauth).

Example :
https://docs.spongepowered.org/stable/translate/plugin/data/serialization.html -> https//docs.spongepowered.org/stable/translate/plugin/data/serialization.html

(missing `:` after protocol)

[2018-07-21 14:08] phit opened #722 "commands page missing selector permission node"
apparently its a thing added years ago

https://github.com/SpongePowered/SpongeCommon/blob/a9423c7ec9f2b423b52c273f7e7a23818a8f3e41/src/main/java/org/spongepowered/common/command/CommandPermissions.java#L46

https://github.com/SpongePowered/SpongeCommon/pull/940

but its not mentioned on the commands page https://docs.spongepowered.org/stable/en/server/spongineer/commands.html

[2018-07-21 22:22] ST-DDT commented on #722
Any suggestion where to add this?
Maybe after the commandblock and bypass permission list?

[2018-07-22 00:31] phit commented on #722
probably above the vanilla table, as some of the vanilla commands use selectors

[2018-07-23 09:44] Inscrutable commented on #721
On what page(s) does this broken redirect linkage appear? It's not something directly in the docs, so I suspect something in our meta systems needs tweaking.

[2018-07-24 03:05] ryantheleach commented on #618
In addition:

https://docs.spongepowered.org/stable/en/server/spongineer/commands.html#sponge

Needs to be double checked against https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/command/SpongeCommandFactory.java#L175

The blockinfo and entityinfo are missing, maybe others?

[2018-07-24 06:20] ST-DDT commented on #722
It looks like there are also other details missing. See: https://github.com/SpongePowered/SpongeDocs/issues/618#issuecomment-407265651

[2018-07-25 05:17] uglycoyote commented on #644
The "Logging and Debugging" page seems to have sufficient detail about how to inject the logging framework and to use it.

I think it would be helpful just to add a sentence or two explaining where to **find** the log messages, which was not obvious to me initially.  (I expected that the server output visible in the terminal would contain my log statement, but it did not.  I later found it by grep

[2018-07-25 05:20] uglycoyote commented on #550
Having it obvious in the IntelliJ setup docs that this template plugin exists absolutely would have saved me hours of head scratching time.

[2018-07-25 08:42] Inscrutable commented on #644
These are very useful suggestions, thanks. You might have saved yourself some typing by just making this as a PR too - we'd be happy to review and merge it, if you're up to making a contribution.

[2018-07-25 18:10] uglycoyote commented on #644
@Inscrutable less typing perhaps, though I'm not confident that I have the complete/correct details for quality documentation. I'll research a bit further and try making a pull request.  Thanks.

[2018-07-26 20:24] uglycoyote commented on #550
I'm improving this in #725 so maybe this issue can be closed if that pull request is accepted.

[2018-07-28 16:10] uglycoyote opened #727 "Guidance on appropriate choice of version number for new plugins"
In pull request #725, a discussion came up around the instructions (on the IDEA page) about what to use when the IDE prompts you for a version number for your newly created project.  Currently the instructional text in the Sponge docs just says it is up to you.

If there is a standard for what kind of version numbering scheme we want Sponge plugins to use, it would be good to clarify this here (th

[2018-07-29 08:26] ST-DDT commented on #727
I would recommend plugin users one of the following versioning schemes:

* Semver (same as you described above)
* Simple versioning (rewrite.update)
  (Because you usually don't have that many releases and you usually don't expose an API)
  * For every rewrite or big change increase the first version number
  * For every other update/feature/bugfix increase the second version number)

[2018-07-29 08:29] ST-DDT commented on #698
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/commands/childcommands.rst#L63

:javadoc:`CommandSpec.Builder#executor(CommandExecutor)` and their associated
:javadoc:`CommandSpec.Builder#arguments(CommandElement)` are optional. The behavior of error in selection and
argument parsing of child commands is dependent on whether this parent executor exists.

This section i

[2018-08-01 16:03] RedRelay commented on #721
I can't reproduce, maybe it is fixed

[2018-08-01 16:03] #721 closed, assigned to nobody

[2018-08-03 11:56] ST-DDT commented on #335
I might have a look at this once its gets a little bit colder...

[2018-08-04 14:35] ST-DDT commented on #618
@parlough Status?

[2018-08-04 16:00] ST-DDT commented on #550
Closed via #725

[2018-08-04 16:00] #550 closed

[2018-08-04 16:16] ST-DDT commented on #505
Whats the current status on this? Does the world border command currently affect all worlds or only one? And are changes to that behavior expected to be soon? Does this behave differently if executed by the console?

AFAICT it does affect all worlds (See [`MixinCommandWorldBorder`](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/mixin/command/vani

[2018-08-05 20:12] ST-DDT commented on #238
Waiting for https://github.com/SpongePowered/SpongeAPI/pull/1883 and https://github.com/SpongePowered/SpongeCommon/pull/2033 .

[2018-08-05 20:24] ST-DDT commented on #302
AFAICT this issues is now obsolete as the user can choose their language while entering the docs or later in the left lower corner. Also the search input automatically assumes the English locale. Or is that one click really that relevant?

[2018-08-05 20:39] ST-DDT commented on #393
While such a tool sure might be useful there are plenty of cases where code examples are simplified or abbreviated so they wouldn't compile. Mostly during variable initialization or referencing arbitrary `doMagic()` methods.

I did the latest code update runs on the repo and IMO its somewhat possible to to this with a little script and some time. I will publish that script soon as a tool in Sponge

[2018-08-05 20:44] ST-DDT commented on #396
@ryantheleach Are there other differences between Bukkit's and Sponge's event system other than block neighbor updating? And is this still a thing or is Bukkit long forgotten?

[2018-08-05 20:52] ST-DDT commented on #435
Ref: https://github.com/SpongePowered/SpongeAPI/tree/stable-7/src/main/java/org/spongepowered/api/extra/fluid

[2018-08-05 20:55] ST-DDT commented on #469
@gabizou Does https://docs.spongepowered.org/stable/en/plugin/event/causes.html cover this or is anything missing?

[2018-08-05 20:57] ST-DDT commented on #479
Is this still a thing or can this be closed? Is it still on hold? What needs to be done here anyway?

[2018-08-05 21:01] ST-DDT commented on #613
@phase Can you comment on this one please?

[2018-08-05 21:07] phase commented on #613
Only jars can be uploaded and having extra files with the jar isn't on the roadmap currently.

[2018-08-05 21:16] #613 closed

[2018-08-06 01:50] ryantheleach commented on #396
In the eyes of the Sponge community it's largely a thing of the past, but Spigot is still strong and proud, a migration page on what concepts are surprisingly different, what concepts are largely the same, and the extra features bundled in Sponge may well flip a few developers who were previously still developing on Spigot to Sponge, and honestly in a community of our size, just a few large, well

[2018-08-06 12:26] #612 closed

[2018-08-06 12:35] Inscrutable commented on #393
This issue is as old as the hills, and no progress in over 2 years gives me an excuse to close it.
If ST-DDT's new script tool makes checking old code faster, then that will have to do.

[2018-08-06 12:35] #393 closed

[2018-08-06 12:43] Inscrutable commented on #479
I can't even remember why it was on hold. This is just another Sponge ease-of-use feature, throwing pretty print exceptions to make error tracking easier. It probably deserves a quick reference in the log files page.

[2018-08-06 13:21] benjaminmordaunt opened #735 "A TypeToken for Text exists, but Text is not listed on Configuration Nodes page"
![image](https://user-images.githubusercontent.com/17656637/43718852-df411720-9983-11e8-8ffd-dd49409ed0e4.png)

The Configuring Plugins -> Configuration Nodes page doesn't list `Text` in the list above, nor under Basic Types, despite a TypeToken existing for it.

[2018-08-06 19:39] ST-DDT commented on #242
Does this require additional explanation than what is already present in the [Permission - Context](https://docs.spongepowered.org/stable/en/plugin/permissions.html#contexts) docs?

[2018-08-07 00:55] ryantheleach commented on #242
@ST-DDT That pretty much covers it, apart from the fact that it's somewhat expected that ContextCalculators are threadsafe.

[2018-08-07 06:25] ST-DDT commented on #242
I'll add a note for that later today.

[2018-08-07 17:15] ST-DDT commented on #505
@ryantheleach Do you mind if I take over this issue?

[2018-08-07 17:54] ST-DDT commented on #197
@ryantheleach AFAICT the issues that this issue is about are:
* **plugin -> commands -> creating**: Mention during which event the commands should be registered (``GameInitializationEvent``) / add link to ` CommandManager` docs
* **plugin -> commands -> creating**:  Mention disambiguation aliases
* **plugin -> commands**: Mention dynamic command (un)registration
* **server -> management**: Configu

[2018-08-07 17:58] ST-DDT commented on #505
There are also config options related to this:
[code]
https://docs.spongepowered.org/stable/en/server/getting-started/configuration/sponge-conf.html?highlight=multi-world-patches

[2018-08-08 00:17] ryantheleach commented on #505
Go for it.

[2018-08-08 00:22] ryantheleach commented on #197
It was originally **just** about precedence vs Vanilla, and the effects of the order that commands are registered in. I mainly made this issue because I would have been searching for the information back in 2015, and being unable to find the answer.

It's been a long time since then, so the specific behavior I may have been talking about may have been a bug.

But If I recall correctly it used to b

[2018-08-08 01:35] ryantheleach commented on #735
To add on to this, I think we should provide a little best practice in regards to Text.

Which text serialization format does SpongeAPI use in Configurate by default?

Which should you use for your plugin?

How do you override this choice in your plugin for your configurations, or should you use string's and handle serialization yourself?

[2018-08-08 12:38] #630 closed

[2018-08-08 12:44] Inscrutable commented on #608
One day @Mumfrey will make it all official...

[2018-08-09 09:58] Inscrutable commented on #705
OK, Now I get that this section would primarily be aimed toward contributing to sponge, and not exposing it as an API. So this belongs under `contributing/implementation`.

[2018-08-09 10:33] #502 closed

[2018-08-10 07:42] gabizou commented on #469
I was imagining explaining the ever evolving `PhaseTracker` in an abstract sense. But because it's implementation, I may consider just closing this as is. It's being documented better and better every time it's being refactored/improved.

[2018-08-10 07:42] #469 closed

[2018-08-10 09:52] #185 closed

[2018-08-11 05:27] #505 closed

[2018-08-11 12:05] #242 closed

[2018-08-12 21:58] ST-DDT commented on #377
I'll try to write something for this. Might take a while though.

[2018-08-16 21:19] ST-DDT opened #743 "Improve Using MCP in Plugins page"
https://docs.spongepowered.org/stable/en/plugin/internals/mcp-setup.html

* Update the sample MCP mapping + forge version
* Use stable in the mcp mapping example (because we recommend using it)
* Maybe: Add the SpongeAPI dependency entry, so the entire config can (more or less) just be copied.
* Mention that using the mapping for a wrong version will most likely not work. (With strange error messa

[2018-08-19 16:32] ST-DDT commented on #435
Small impact from https://github.com/SpongePowered/SpongeAPI/pull/1896 , but nothing functional.

[2018-08-19 18:41] ST-DDT commented on #435
I am currently unable to write proper documentation for this.

Open Questions:
* Where do I get/use the `FluidStack` except for the snapshot?
* I can get the `FluidItemData`, but I cannot set it, it looks like it is not implemented/needs API changes
  See [`FluidItemDataProcessor`](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/data/processor/dat

[2018-08-20 09:16] #238 closed

[2018-08-21 16:52] ST-DDT commented on #618
@parlough Do you mind if I take over?

[2018-08-21 16:53] ST-DDT commented on #722
I might tackle this along with #618 . See other issue.

[2018-08-21 18:03] ST-DDT commented on #436
Target page: https://docs.spongepowered.org/stable/en/plugin/data/custom/datamanipulators.html

Can someone give me link to an example **plugin** with public source code that uses custom datamanipulators?

Then I will mention the potential parents along with the updated method calls.

Related: #640

[2018-08-21 18:13] ST-DDT commented on #585
@Tzky Can you give a little bit more context for this one?

AFAICT this is only relevant for the following pages:
* https://docs.spongepowered.org/stable/en/plugin/internals/mcp-setup.html
* https://docs.spongepowered.org/stable/en/plugin/debugging.html

A hint/note like this should probably be enough:

Is this sufficient or did I miss some aspects of the issue?

[2018-08-21 18:19] ST-DDT commented on #735
👁 👁
==

[2018-08-21 20:40] phit commented on #585
no, that should be enough

[2018-08-22 17:51] ST-DDT commented on #585
Waiting for https://github.com/SpongePowered/SpongeForge/issues/2399 for an easy way to get the mapping version for the SpongeForge jar.

[2018-08-22 20:17] ST-DDT commented on #722
Note to self: The following permissions are missing from the docs:

* minecraft.selector
* sponge.debug.block-tracking
* sponge.debug.hover-stacktrace
* sponge.command.blockinfo
* sponge.command.entityinfo
* sponge.command.which

[2018-08-22 20:53] ST-DDT commented on #618
Note to self: The following commands are not or wrongly listed:

**Missing**

* /sponge blockinfo
* /sponge entityinfo
* /sponge which
* /callback

**Changed**

* /sponge help -> /help

[2018-08-23 09:11] Inscrutable commented on #618
The `callback` command is exclusively used by plugins, so that's probably all that needs to be said about it.

[2018-08-23 11:48] #334 closed

[2018-08-23 19:17] ST-DDT commented on #584
👁 👁
====

Maybe this is related to #747 .
Is there someone who knows anything about this? Otherwise I will look into this myself.

[2018-08-23 19:21] ST-DDT commented on #480
👁 👁
====

[2018-08-23 21:53] simon816 commented on #480
Hmm synchronous tasks are bound to the running server instance, whereas async tasks are not. Presumably @gabizou is only referring to async?

[2018-08-24 10:41] #479 closed

[2018-08-24 16:56] ST-DDT opened #748 "Mentioned BungeeCord Issues have been closed"
[Docs: `bungeecord.html`](https://docs.spongepowered.org/stable/en/server/getting-started/bungeecord.html?highlight=Pull%20requests#ip-forwarding) | [Source: `bungeecord.rst`](https://github.com/SpongePowered/SpongeDocs/blame/stable/source/server/getting-started/bungeecord.rst#L39)

The linked issues have been closed, so we cannot keep the as "awaited". We should probably either update the referen

[2018-08-24 16:59] phit commented on #748
oh I thought i got rid of the awaiting part, guess not
https://github.com/SpongePowered/SpongeDocs/pull/682/files#diff-776381a885489b6feb00ba1961494247L36

though really we are still waiting for it to maybe get supported some day by mainline BungeeCord

[2018-08-24 17:16] ST-DDT commented on #748
If we are still waiting, then I guess the docs are valid as it. Closing.

[2018-08-24 17:50] dualspiral commented on #748
Honestly, I’m tired of waiting. It’s not going to happen, realistically. With Waterfall and Hexacord supporting our protocol changes and Velocity on its way, I think we can (and should) remove those statements and suggest the alternatives instead.

[2018-08-24 18:40] ST-DDT commented on #748
Would the following change be appropriate?

From

To

[2018-08-24 18:57] phit commented on #748
I'd go with this, doesn't hurt to link our attempts.

[2018-08-24 20:58] ImMorpheus opened #752 "Plugin mixins setup is failing"
https://github.com/SpongePowered/SpongeDocs/blob/ff0f5b9f1664046e2a3549024b88c8026b77228a/source/plugin/internals/mixins.rst#L96

should be `ext.refMap = "mixins.myplugin.refmap.json" `

See https://github.com/SpongePowered/MixinGradle/issues/3

[2018-08-24 21:03] ST-DDT commented on #752
AFAICT the current documentation was correct at some point, wasn't it? Is there also a change in the version numbers we have to include?

[2018-08-24 21:10] ImMorpheus commented on #752
I'm using mixin 0.7.11-SNAPSHOT and gradle 4.4.1.

The wiki is using 'org.spongepowered:mixin:0.7.5-SNAPSHOT' but I haven't tested that version.

[2018-08-24 22:34] gabizou commented on #752
It was correct back when gradle 2.x was still the latest thing, I think up until gradle 3.4 or around there. Now we're on to gradle 4.9 where the `ext.refMap` is required.

[2018-08-25 05:59] #618 closed

[2018-08-25 05:59] #722 closed, assigned to ST-DDT

[2018-08-25 15:23] #718 closed, assigned to NariKiro

[2018-08-26 00:56] #748 closed, assigned to ST-DDT, dualspiral

[2018-08-26 17:00] ST-DDT commented on #640
Improved tooling available in #754

[2018-08-27 22:19] phit opened #758 "config docs out of date"
this still applies regardless of the new table

https://github.com/SpongePowered/SpongeDocs/pull/714

[2018-08-29 10:31] Inscrutable commented on #758
It's not a table any more, it's a list, and there's a PR (#754) to add the tools used to generate that. Is there anything else we need to cherry-pick?

[2018-08-29 10:40] #309 closed

[2018-08-29 11:29] #727 closed, assigned to ST-DDT

[2018-08-31 10:36] Inscrutable commented on #306
Bumping this to see if this is still current. If so we really should probably add it to our "Preparing for Development" pages.

[2018-08-31 10:38] #752 closed, assigned to ST-DDT

[2018-08-31 21:05] ST-DDT commented on #698
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/commands/commandcallable.rst#L63

This method is now defined like this:

[2018-08-31 21:30] ST-DDT commented on #698
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/items/creating.rst#L111

Should be

[2018-08-31 21:58] ST-DDT commented on #698
* [ ] Differently named references to `PluginContainer`s / `Plugin`s

* `plugin`
* `myplugin`
* `yourPluginInstance`

Should probably use `plugin` all the time.

[2018-09-01 14:21] JBYoshi commented on #306
Since then, I've had problems where symlinking the submodule makes Git think the submodule was removed. Because I still need to bump submodules, that solution no longer works.

What I ended up doing was:

- I cloned SpongeVanilla *without* the SpongeCommon submodule.
- Inside the SpongeCommon directory, I added a `.git` file (not a directory) containing the line `gitdir: relative/path/to/SpongeCom

[2018-09-01 18:22] gabizou commented on #306
I personally keep both separated. If I'm working on either one in tandem, I just have two instances of IntelliJ to keep both projects open and do the git command line to keep both sponge commons updated.

[2018-09-01 18:54] ST-DDT commented on #480
Is there some way to test/showcase this behavior? I assume I could install SpongeForge in the client and then run the embedded server with a test plugin.

I'm currently not sure where to place the warning.

* If I place it at the top, I'm sure everybody reads it, but it will also be like going like a bull at a gate. (We don't mention sync and async in the first paragraph at all.)
* I guess I could

[2018-09-02 17:16] ST-DDT commented on #480
I just tried it myself and neither sync nor async tasks will be stopped if the server is stopped:

[code]

[2018-09-04 19:11] ST-DDT commented on #735
**Ref:**

* https://docs.spongepowered.org/stable/en/plugin/configuration/index.html
* https://docs.spongepowered.org/stable/en/plugin/configuration/nodes.html#de-serialization

**Issues:**

* [ ] Mention [`TypeTokens`](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/util/TypeTokens.java) which contains already existing type tokens and mention that the

[2018-09-04 19:24] ST-DDT commented on #436
A quick search on ore and github didn't yield any results. Is there a plugin out there that actually uses custom datamanipulators? Is it because the docs are lacking?
Maybe https://github.com/SpongePowered/SpongeCommon/tree/stable-7/testplugins/src/main/java/org/spongepowered/test/myhomes could be used as an example/way to fix the docs.

[2018-09-04 19:34] ST-DDT commented on #582
@Minecrell Is this still a thing? If yes, could you please describe what needs to be done to actually use it? Or show me an plugin that uses it and can serve as an example?
(or write the docs yourself, if you want)

[2018-09-04 19:44] ST-DDT commented on #335
I didn't forget it (yet). I just pushed it further down the road. Somehow I feel like this issue is a ⛰⛰⛰.
(if anyone wants to go ahead...go ahead^^)

[2018-09-04 19:46] ST-DDT commented on #507
👁 👁
====

[2018-09-04 19:52] ST-DDT commented on #139
Are there any plugins that could be used as an example/demo (for the future doc author)?
Or would it be possible to get the documentation from the ones who actually designed it?

AFAICT There is currently nothing about inventories in the docs at all.

Is [Item](https://docs.spongepowered.org/stable/en/plugin/items/index.html) the right place to create the documentation or should it be in its own c

[2018-09-05 03:13] #584 closed

[2018-09-05 03:26] Inscrutable commented on #335
This, and Inventories, are probably the two hardest subjects we have yet to tackle. It's been the downfall of one Editor in the past; what we really need is someone who is familiar with using it.

[2018-09-05 03:31] Inscrutable commented on #139
It's quite possible that inventory handling will be quite large, so keeping it separate might help. It's difficult to predict in advance. Otherwise we could simply rename "Items" to "Items and Inventories".

[2018-09-05 12:31] #743 closed, assigned to ST-DDT

[2018-09-07 20:20] ST-DDT commented on #579
@Minecrell or anybody else: Could you give me a hint/link to demo plugin that I could use for this?

[2018-09-08 00:55] phit commented on #579
i think this is the most commonly used gradle plugin to shadow http://imperceptiblethoughts.com/shadow/

example: https://github.com/SpongePowered/Cookbook/blob/master/Plugin/HelloFromKotlin/build.gradle

[2018-09-10 11:58] #627 closed

[2018-09-10 11:58] #644 closed

[2018-09-10 13:47] ryantheleach commented on #735
@ST-DDT Go for it, the questions I had were largely open ended, that I didn't yet have answers for, and would need to investigate anyway.

[2018-09-10 13:49] ryantheleach commented on #139
It's been a common problem for people to adjust the inventories directly, rather then using the transactions, or cancelling the event and making modifications to the inventory, and seeing them rollback and getting confused.

So if an example of a GUI menu is used anywhere, I suggest addressing that, either by showing the user a brand new inventory maybe, or modifying the transactions on the invent

[2018-09-20 09:28] Inscrutable opened #768 "Changes coming to Versioning"
We'll need to update the versioning page to deprecate the older Legacy system and add the new one when this PR goes live. Perhaps we can include some version of the tables there too.

https://github.com/SpongePowered/SpongeForge/issues/2367

[2018-09-21 13:04] #585 closed

[2018-09-21 13:04] #652 closed

[2018-09-22 21:03] ST-DDT commented on #436
And now I know why: https://github.com/SpongePowered/SpongeAPI/issues/1913

I'll wait with the documentation until the API is fixed.

[2018-10-05 08:46] #377 closed

[2018-10-20 23:06] #480 closed

[2018-10-23 21:10] ST-DDT commented on #768
This link contains some explanations that might help writing the docs: https://forums.spongepowered.org/t/sponge-status-update-10th-october-2018/25777

[2018-10-24 18:28] ST-DDT opened #772 "Server commands page out of date"
According to DrZoddiak on Discord:

The section

is wrong.

![Pic-Docs](https://gyazo.com/3951885a3d536a9cd2bc0bd0f3a153b0.png)
![Pic-Error](https://i.gyazo.com/e89e5969579f9b6ab2e06aaa2409b003.png)

[commands-Docs](https://docs.spongepowered.org/stable/en/server/spongineer/commands.html?highlight=examples#sponge)

I can reproduce this behavior.

According to phit this behavior change from the ser

[2018-10-24 18:53] phit commented on #772
I touched a lot of this here https://github.com/SpongePowered/SpongeDocs/pull/714/files#diff-e6c62d5ada684044625780ea9a656f9fL55

[2018-10-24 19:06] LordRalex commented on #768
The only page where I find the version references is on this page:
https://docs.spongepowered.org/stable/en/server/getting-started/implementations/spongeforge.html

Would it make more sense to have a dedicated version page that explained the format and have the install page reference that?

[2018-10-24 19:29] ST-DDT commented on #768
That is planned (as part of this issue). Maybe the info will be added to https://docs.spongepowered.org/stable/en/plugin/api-versions.html , but that is not sure. Or do you have a suggestion for an alternative location?

[2018-10-24 19:39] LordRalex commented on #768
That page would make the most sense, but the current dropdown location for it doesn't. I didn't find it because it's under a section I would not have thought to look. It also does really read more for development, so to me, it'd make sense to tailor it more as a general understanding of how the versions work and how to read it. Then the create and install pages can reference it directly. You don't

[2018-11-16 19:38] #553 closed

[2018-11-16 19:38] #735 closed, assigned to ryantheleach, ST-DDT

[2018-11-20 04:38] mbax opened #774 "Improved PGP documentation / assistance"
Problem: Users have trouble generating and using PGP keys.

Solution proposed: Better describe to users how to generate the keys. Hold their hands through it. Offer other methods through which they could handle things (Keybase? Online javascript-only tool?). Create our own, simpler documentation for using Maven or Gradle for signing because what we presently link to is a bit more complicated than

[2018-11-20 07:04] me4502 commented on #774
Having our own section would be a great idea. Especially if it includes information on using it with other tools commonly used in the MC community. I recently had a bit of an issue getting it to work with Artifactory's publish system, as signing adds to the `archives`, and if the signature file isn't present it would then fail to publish.

[2018-11-20 07:10] mbax commented on #774
@me4502 Thanks for the feedback! Are there any other tools you can think of that should be included in our documentation?

[2018-11-20 07:12] me4502 commented on #774
Publishing tools would be the main ones that'd be likely to hit issues.

But having an example of signing a reobfuscated jar from ForgeGradle could be useful, even though it is relatively straight forward.

[2018-11-20 07:55] Faithcaio commented on #774
Why do we restrict the email of the PGP-Key to the one you registered with?

[2018-11-20 14:53] DenWav commented on #774
What do you mean by that? Surely you would allow users to upload multiple keys right?

[2018-11-20 17:26] Faithcaio commented on #774
Doesn't look like its possible atm.

[2019-01-12 20:47] felixoi opened #778 "Add a documentation for markup on Ore pages"
We need to document which markdown elements can be used in Ore pages.

We have special elements like wiki links for example.

[2019-01-13 10:03] Retr0G opened #779 "Teleportation issue"
Hey guys so I am trying to make a Stoneblock 2 server to play on, and I get a little glitch, when I try to use the portal to other dimensions it doesn't teleport me to the right coordinates (It telelports me over bedrock instead of the what it should be at Y 2...), it teleports me to the right dimension though. I haven't installed any plugins, without Sponge it works perfectly, but I also need Bun

[2019-01-13 10:11] #779 closed, assigned to nobody

[2019-01-21 20:16] DeaSTL opened #781 "Random Crashes with FTB Revelations 2.7.0"
https://gist.github.com/DeaSTL/3902719c5f9a3c1ba979c0af5454684d

[2019-01-21 20:17] DeaSTL commented on #781
I should mention that I removed foam fix because of a random crash on start up after adding sponge.

[2019-01-21 20:19] phit commented on #781
SpongeDocs is the repo for our documentation, SpongeForge issues go here https://github.com/SpongePowered/SpongeForge/issues

either way there's already an issue for that there https://github.com/SpongePowered/SpongeForge/issues/2405

disable async lighting in the sponge config file

[2019-01-21 20:19] #781 closed, assigned to nobody

[2019-01-24 08:01] #772 closed, assigned to nobody

[2019-01-24 08:47] ExerciseBook opened #783 "A spelling mistake in ZHCN page of plugin/configuration/index ."
![image](https://user-images.githubusercontent.com/6327311/51665780-84fbfa00-1ff7-11e9-8d9f-e85bb8d521a8.png)

It says
[code]

The correct is
[code]

I did't find the repo of ZHCN page, so I can only post it here. 😂

[2019-01-24 10:09] ST-DDT commented on #783
Our translations are created by the community using this page:
https://translate.spongepowered.org/
You can find the simplified chinese version here:
https://translate.spongepowered.org/project/sponge-docs/zh-CN#

Then search for the appropriate file there and suggest the change. Please note that you won't see the changes immediately, because the docs repo is only build when changes to the git rep

[2019-01-24 11:31] ST-DDT commented on #783
I moved your issue over to:

https://translate.spongepowered.org/project/sponge-docs/discussions/214

Please report all future translation issues directly on crowdin/our translation page.

[2019-01-24 11:31] #783 closed, assigned to nobody

[2019-01-26 16:43] Grauldon commented on #768
The following pages also need updating:

- [https://docs.spongepowered.org/stable/en/contributing/versioning.html](https://docs.spongepowered.org/stable/en/contributing/versioning.html)
- [https://docs.spongepowered.org/stable/en/plugin/internals/implementation.html](https://docs.spongepowered.org/stable/en/plugin/internals/implementation.html)

Here is a list of **all** the files that need to be

[2019-01-26 19:20] ST-DDT commented on #768
From the server owner perspective you probably don't want to contribute if you want to get started (and thus are unfamiliar with the versions). So maybe we should use a dedicated top level page for the version overview.

**`source/versions.rst`**

* Compatibility overview
  * With a link to the respective download pages
  * With a link to creating a server and creating a plugin respectively
* Shor

[2019-01-28 01:01] Grauldon commented on #768
I created a branch to start the changes, and I am using the above [comment from ST-DDT](https://github.com/SpongePowered/SpongeDocs/issues/768#issuecomment-457857782) as a guide. However, I read this [comment from Inscrutable](https://github.com/SpongePowered/SpongeForge/issues/2367#issuecomment-423096081) while reviewing the discussion. I just want to point this out to make sure we're all on the

[2019-01-28 03:43] Grauldon commented on #768
Since [API-Versions](https://docs.spongepowered.org/stable/en/plugin/api-versions.html) is being updated, do we have new information for the API-Version table (e.g. update any TBA, add 7.2.0)?

[2019-01-29 09:28] Inscrutable commented on #768
We can probably put API 7.0 as 'unsupported', as we already have a recommended builds for 7.1.X.

[2019-02-05 09:58] DoNotSpamPls opened #786 "Add documentation about messaging channels"
I'm having trouble working out how those work exactly, and the docs don't help much. While the people over at #spongedev are very helpful, it'd be nice if the documentation would mention how to implement this feature.

[2019-02-05 10:35] Inscrutable commented on #227
I'm going to close this ancient issue. It hasn't had any traction in years and it's very low priority.

[2019-02-05 10:35] #227 closed

[2019-02-09 16:44] Grauldon commented on #698
- [ ] [Testing Your Plugin](https://docs.spongepowered.org/stable/en/plugin/workspace/idea.html#testing-your-plugin)

* Under `Tasks` -> `Build`, click on `jar`
should be
* Under `Tasks` -> `Build`, **double-** click on `jar`

[2019-03-03 01:28] Inscrutable opened #791 "Add language tabs on code blocks"
@gabizou has requested language tabs for different code blocks. In the future, Sponge's workspaces for development will be moving to Kotlin-DSL. SpongeDocs will need to be able to provide code examples how to use it between gradle, maven, and kotlin-dsl. Tabs are a way to manage this neatly.

The following third-party Sphinx add-on does the job: https://github.com/djungelorm/sphinx-tabs

[2019-03-03 01:29] phit commented on #791
I can think of quite a few other places where tabs could be useful to cut down page length e.g. OS specific stuff

[2019-03-04 00:41] Grauldon commented on #791
Sweet! IDEs are another area this can help. How far in the future?

[2019-03-10 02:51] Grauldon commented on #698
- [x] Update Ore entry in [Sponge Glossary ](https://docs.spongepowered.org/stable/en/about/glossary.html) to just `The Official Sponge plugin hosting site.` (Could provide a link to the site.)

[2019-03-18 01:08] Grauldon opened #793 "Track Enhancements of Debugging Documentation"
[SpongeDocs](https://github.com/SpongePowered/SpongeDocs/issues/356)

This issue is to track changes to SpongeDocs for adding debugging documentation and improving existing documents.

The list originated in SpongeDocs PR #661, and this issue will allow it to survive multiple PR's while making it easy to locate. Some additions have been made since the first PR, and more additions may occur over ti

[2019-03-22 21:08] ImMorpheus commented on #793
Testplugins guidelines are outdated. See https://github.com/SpongePowered/SpongeCommon/pull/2195

[2019-03-22 22:49] #768 closed, assigned to ST-DDT

[2019-03-25 01:29] Grauldon commented on #793
Thanks! I had forgotten about that.

[2019-04-17 21:07] LordRalex opened #796 "Documenting system properties"
Per question by @gabizou :

Sponge has some properties that you can set on the commandline-level that can assist with debugging or other tasks. These tasks should be documented and explained so advanced users can set them if needed.

I personally recommend this being a new page under the "Become an Expert Spongineer" as these settings are not for the average user. It's layout would probably be sim

[2019-04-18 04:53] gabizou commented on #796
Felt too lazy to make a proper reply, so I edited some comments into the OP with some explanations. I'll try to add some more explanation or clarifications if people need some for the tracking specific flags.

[2019-04-18 14:45] LordRalex commented on #796
I removed the guice one from the list since it's not sponge-added. I did add a quick note about what the last 2 flags that weren't filled in did.

[2019-04-19 16:33] ItsDoot opened #797 "Windows shell issue resolved, should be documented"
Through investigation with @Brycey92, on Windows 10, when Command Prompt or PowerShell is used to launch the server, every now and then the server will randomly hang with the only thing being logged is that the server skipped multiple seconds or minutes worth of ticks. This issue might also affect older Windows versions, but that is untested.

The problem was resolved by disabling `Quick Edit Mode

[2019-04-19 16:55] Brycey92 commented on #797
It's worth noting that this should be changed in the Defaults menu of the shells, which is the same as the Properties menu, but the changes are applied to all new instances.

[2019-04-19 16:58] phit commented on #797
thats intended, when you mark something in quickedit it will freeze the process, that's been always the case and nothing related to sponge directly

https://stackoverflow.com/questions/30418886/how-and-why-does-quickedit-mode-in-command-prompt-freeze-applications

[2019-04-19 17:03] Brycey92 commented on #797
Of course it's intended and not related to sponge, but server admins should still know to turn it off to prevent accidentally marking things and freezing their servers.

[2019-04-20 13:00] Grauldon commented on #793
Check on documentation requirements for [SpongeForge PR #2319](https://github.com/SpongePowered/SpongeForge/pull/2319).

[2019-05-05 15:48] Grauldon commented on #698
- [ ] Locate and update branch names from `stable` and `bleeding` to `api-#` as appropriate.

[2019-06-02 12:23] XakepSDK opened #806 "Debugging tutorial is overcomplicated"
https://docs.spongepowered.org/stable/en/plugin/debugging.html
This tutorial is completely wrong! You don't need to clone any sponge source code to just debug, everything you need is server jar and your plugin jar, that's all!
Replace or remove it.

1. Create new IDEA project or open existing
2. Open 'project structure' window
3. Click on 'artifacts' tab
4. Add artifact with source from module
5.

[2019-06-02 12:30] simon816 commented on #806
That won't give you source code or the ability to set breakpoints in sponge/minecraft code.

[2019-06-02 15:42] XakepSDK commented on #806
This will give source code and ability to set breakpoints up SF or SV code.
This won't give you deobfuscated names or ability to set breakpoints in MC or Forge code.
If don't know how can you debug code in JVM, i'm sure you don't need setting breakpoints in MC codebase or wanting deobfuscated names.

[2019-06-02 16:14] gabizou commented on #806
Your opinion. If someone does want to get a workspace with full code access, the docs are 100% right.

What I think the correct solution to the issue is:
Split up full vs "beginning to debug" docs and call it a day.

[2019-06-03 04:51] zhourui123 commented on #806
A lot of forge code gets mixin , can't be debugged(The line number is incorrect for debugging),  Further setup is required for normal debugging

[2019-06-03 05:36] gabizou commented on #806
Debugs just fine in intellij with the MinecraftDev plugin:
https://youtu.be/JQAnCC-ZDng

[2019-06-03 07:03] XakepSDK commented on #806
If you're using mixins, then you are using ForgeGradle too. FG has out of box run configs for IDE's, so current tutorial and this tutorial are unnecessary and confusing.

[2019-06-04 00:44] MinusKube commented on #698
- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/optional/basic.rst#L15
- [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/plugin/optional/basic.rst#L94

These two titles are available for translation on Crowdin, but are not getting translated on the final page, example: https://docs.spongepowered.org/stable/fr/plugin/optional/basic.html#implicit-null

[2019-06-05 01:33] Zidane commented on #585
Once SF and SV are built, this will now be in the MANIFEST.MF:

MCP-Mappings-Version: snapshot_20180808

[2019-06-06 11:43] Inscrutable commented on #698
Good catch. That's another issue caused by a title leading with a number and fooling the ReST / Sphinx formatting. We edited out the last few, and this one got missed somehow.

[2019-06-08 21:02] Grauldon commented on #796
I started working on this today.

[2019-06-15 08:02] ST-DDT commented on #698
* [ ] https://github.com/SpongePowered/SpongeDocs/blame/stable/source/server/spongineer/logs.rst#L8

Originally reported by 3TUSK on Discord

[2019-06-16 15:42] Grauldon commented on #796
Docs [updated](https://github.com/SpongePowered/SpongeDocs/commit/a536bd3f01db09d3d5c300be25cf6e8e41c4e9d6) with the requested information.

[2019-06-16 15:42] #796 closed, assigned to Grauldon

[2019-06-22 02:19] Grauldon commented on #797
Warning [added](https://github.com/SpongePowered/SpongeDocs/commit/280aa9dc2addc57e14d89e65687f03b44fb0704e) to suggested page.

[2019-06-22 02:19] #797 closed, assigned to Grauldon

[2019-06-25 09:25] Inscrutable opened #811 "Plundering the SpongeCommon Wiki"
There is considerable useful content developing at the [SpongeCommon Wiki](https://github.com/SpongePowered/SpongeCommon/wiki) which might have a place in the Sponge Docs, or at least a reference and links on appropriate pages. What sayeth you?

[2019-06-25 14:11] simon816 commented on #811
Definitely worth at least linking it somewhere under the "Developing Sponge" section - https://docs.spongepowered.org/stable/en/contributing/implementation/index.html.

Possibly it could be moved there so we have one place for all documentation?

[2019-06-27 11:05] Inscrutable commented on #811
So far, the content worth purloining be held in the "Implementation Policy: Bridges and Mixins" section, that may be acceptable as a new SpongeDocs page. ⚓️ Avast there, cap'n @gabizou - what is the state of affairs, and would ye be minding if we offloads yer precious Wiki cargo onto our fine vessel? ☠️

[2019-07-05 15:22] ImMorpheus commented on #522
Fixed a long time ago by https://github.com/SpongePowered/SpongeDocs/commit/688b03f7272bc63b8a1d206572f84214442361df

[2019-07-05 15:22] #522 closed

[2019-07-11 08:30] #640 closed

[2019-07-12 12:17] TheBrambleShark opened #813 "Active Page on PaginationService"
The `PaginationList` object (or rather, its builder) currently lacks a way to set the active or initial page, meaning that whenever the player is shown the list, it will always be on page 1.

There should be an `activePage` or `initialPage` property which, when set to an int, will initially display on that page.

**Considerations**

* How do we handle numbers less than one?
  * Round up to 1
  * A

[2019-07-12 12:32] TheBrambleShark commented on #813
Wrong repo. That's my bad.

[2019-07-12 12:32] #813 closed, assigned to nobody

[2019-08-17 10:56] NickAcPT opened #817 "Fix Ray Tracing documentation"
In here, https://github.com/SpongePowered/SpongeDocs/blob/stable/source/plugin/ray-tracing.rst#L41, there's an error with the documentation of the `BlockRayBuilder#stopFilter` since it says following:
[code]
According to dualspiral, a stop filter replaces/augments the distance filter and will only advance the ray while the result is true. Once it turns false, then the ray will not continue.
Instea

[2019-09-02 16:46] Grauldon commented on #817
The requested change necessitates a change in the explanation for the stopFilter method. Based on the original comment and the JavaDocs, the following statement:

should read

Otherwise, the code example contradicts the explanation. With the example given, the explanation says the trace stops when it encounters an air block.

I am requesting a review by the @SpongePowered/developers team to ensure

[2019-09-03 22:57] JBYoshi commented on #817
https://github.com/SpongePowered/SpongeAPI/blob/b38390e1751fff802d355155c45b2eb4913f5817/src/main/java/org/spongepowered/api/util/blockray/BlockRay.java#L354-357

[2019-10-08 00:52] JBYoshi commented on #774
Closing as Ore no longer uses PGP. https://forums.spongepowered.org/t/ore-2-0-0-m1-deployed/33808

[2019-10-08 00:52] #774 closed, assigned to nobody

[2019-10-08 00:54] JBYoshi opened #819 "Document or link to Ore 2.0 API"
Currently, the official documentation for the Ore 2.0 API is at https://ore.spongepowered.org/api. If that's the new primary reference, we should link it in the docs. If we want the docs to be the primary reference (as it is currently), we need to update those.

[2019-10-08 08:01] Inscrutable commented on #819
Keeping it in SpongeDocs means we can do minor edits more easily. It's not third-party content, so it does belong in there. We have six pages of Ore docs, some won't have to change much. We could reformat the remaining ones to more closely match the doc on Ore. Any opinions?

[2019-10-08 08:38] Katrix commented on #819
Personally I'd like to keep the Ore API v2 docs in one place, not two (although docs is welcome to parse the swagger.json file and generate it from that).

I think a link to the new docs with a notice that the old docs are being deprecated would be enough. I also want to hold off on officially recommending API v2 over v1 for serious work until Ore 2.0.0 has been released.

Something else we might

[2019-10-14 08:19] Inscrutable commented on #819
We can just deprecate our old API pages and link to the new Swagger pages for Ore API if you prefer. Whenever it's ready to launch.

[2019-11-18 09:10] Robit opened #823 "Outdated information on Ore Publishing Guide"
According to https://forums.spongepowered.org/t/public-key-location/33951, the use of a public key associated with your account and signing plugins is no longer a thing. The docs at https://github.com/SpongePowered/SpongeDocs/blob/stable/source/ore/publish.rst should be updated and the "signing your plugin" section removed.

[2020-03-10 20:39] LordRalex opened #828 "Add documentation for "Incompatible" mods"
A page for what mods are incompatible with Sponge out of the box and ways to resolve these issues would allow for better self-service and references for issues in the Discord.

Examples of mods in this list:
- Foamfix - collision with blocks (is this actually an issue anymore?)
- Hammercore - enable World.ITickable.Override in asm/hammercore.xml
- Farseek - Remove due to issues
- OTG - pregen worl

[2020-03-10 20:56] ItsDoot commented on #828
Will also want to include some examples of errors that show up from these compatibility issues.

[2020-03-10 21:25] ST-DDT commented on #828
We definitely need (plugin) user feedback to create such a page.
Otherwise we won't know which plugins are incompatible and how they could be fixed.
Any suggestions for the location of that page? Top level or inside `Creating a server` or ...?

We also have to evaluate which plugins we consider to be important enough to be listed and whether/how to group them into common error groups.

[2020-03-11 06:49] gabizou commented on #828
Farseek 2.5 **might** be fixing the crash outright, but as with world generation, it still might be altering some of the pipeline not to how we'd be using it. Refer to commit https://github.com/delvr/Farseek/commit/31f786bb2ed413d096b6c91e2b538b9265013a12
where the modification to redirect the Event bus calls is removed, that should allow SpongeForge to load again.

I've not been able to verify th

[2020-03-11 09:11] Inscrutable commented on #828
We currently have no mod-specific warnings in the Sponge Documentation, by choice.
There are some concerns I have about the current proposal:

* Firstly, in principle we want to avoid recommending or disapproving of any third party mod.
* Second, If we were to have comments relating to mod-specific incompatibilities, the page will necessarily be quite volatile - mods (or SpongeForge) may update to

[2020-03-11 15:51] LordRalex commented on #828
My view of it was that we should not be requiring users to essentially go to the Discord to get our "generic puke of text" which hasn't changed in some time for some issues. I would rather give users the ability to self-service, especially if we are adding code into Sponge to detect such issues.

I did not view it at all as recommending/disapproving of mods. It is simply a "To use X mod with Spong

[2020-03-12 08:23] Inscrutable commented on #828
Actually, I think *mystcraft* is completely incompatible, because it warps the vanilla worlds system. At some point we have to flat-out admit that some mods won't work with Sponge. Also for reference, *MalisisCore* is a common mod that has been causing old mixin problems.

So, if someone wants to try putting together a draft **Incompatibility** page, everyone else can pile on their notes and we ca

[2020-03-14 11:45] simon816 commented on #828
IMO the forums are a better place for this. We already have a common issues thread. A forum thread can be easily updated as new information comes in and there can be discussion about alternative solutions.

[2020-03-14 22:46] LordRalex commented on #828
To me, forums make sense for the short-lived ones (like, they are fixed within a few weeks).

When it's ones where there *is* no fix that Sponge can do, and the mod has not been fixing it, then I don't think them being on the forum makes sense. To me, the docs should have the information a user needs to get going. We shouldn't need to have users going to multiple places to work things out.

[2020-03-15 08:10] ST-DDT commented on #828
Who verifies that their new version X (they didn't tell us about), has still the same issue and stacktrace? Who verifies that a new major version of Sponge has the same incompatibility. Who checks that the incompatible mod has a release compatible with the minecraft version related to the SpongeAPI version the docs reference? And does the user look at that previous API version's doc pages?

Maybe

[2020-03-15 10:36] dualspiral commented on #828
Related to this, the assumption that users:

* will do this for us and come back to us and tell us without prompting; and
* will read an entire forum thread

are not good assumptions to make - as we've seen in the past many times in Discord, IRC, forums, etc. We can only work with the information we're given at hand. We should include version numbers of mods that we find issues with, to make it cl

[2020-03-18 12:03] Inscrutable commented on #828
It seems a new docs page is inevitable, either as glorified pointer or source document.
Either way, whatever we have will need *maintenance* - i.e. updating the forum thread Original Post, or the (new) Docs page. The former is more easily wrangled, but lacks the translations the latter offers. For highly volatile stuff, the forum is a better place.
I think the best compromise we can have here, in

[2020-04-10 11:14] ST-DDT commented on #817
@Grauldon Any update on this one?

[2020-04-10 11:40] #758 closed, assigned to Inscrutable

[2020-04-10 11:51] dualspiral commented on #817
It's been merged already, probably can be closed.

[2020-04-10 14:27] #817 closed, assigned to Grauldon

[2020-04-18 02:17] #828 closed, assigned to Inscrutable

[2020-05-10 12:57] Grauldon commented on #817
I'm sorry, @ST-DDT, for not responding. I adjusted some GitHub settings, so I didn't get an email about this. And, I haven't been on GitHub while I have been adjusting to a new job.

[2020-05-22 19:58] imWillX opened #837 "Recommend a specific version of gradle"
In the ![gradle](https://github.com/SpongePowered/SpongeDocs/blob/stable/source/plugin/project/gradle.rst) setup, it recommends the latest version of gradle (currently 6.4).

Using the gradle 6.4 doesn't work with the ![vanilla workspace setup](https://github.com/SpongePowered/SpongeDocs/blob/stable/source/plugin/internals/mcp-setup.rst). Specifically, gradle deprecated functionality that minecrel

[2020-06-26 01:05] ef1500 opened #843 "Mixins Fail to apply, causing client to crash upon joining a world"
Hi there, I'm trying to run my fork of fabritone, but whenever I try to enter a multiplayer server, the client crashes, and throws a org.spongepowered.asm.mixin.transformer.throwables.MixinTransformerError error, I've tried multiple things to get rid of it, but it just doesn't seem to work.

Here is the crash report:
[crash-2020-06-25_17.26.48-client.txt](https://github.com/SpongePowered/SpongeDoc

[2020-06-26 01:24] #843 closed, assigned to nobody

[2020-08-25 21:06] A248 opened #845 "ContextCalculator docs state it must be thread safe, but use a potentially unsafe example"
https://docs.spongepowered.org/stable/en/plugin/permissions.html#contexts

The ExampleCalculator becomes unsafe once `playerArenas` is modified. I think it is much more likely that users following the example will be modifying their HashMaps.

[2020-08-26 17:40] #845 closed, assigned to nobody

[2020-08-26 18:26] A248 commented on #845
@ST-DDT I am afraid that 07292b8f32aa66ea761525b8b27ea878a506eaa1 is not sufficient to make the example thread safe. The code is still vulnerable to race conditions in ways beside the mere use of a HashMap. For example:

[code]

[2020-08-26 20:00] ST-DDT commented on #845
Should be fixed now.

[2020-08-26 20:34] A248 commented on #845
Awesome

[2020-09-15 14:08] mjra007 commented on #698
This was pointed out originally on [discord](https://discordapp.com/channels/142425412096491520/142425521391665153/755406301730701396). There is a very minor "issue" with a code block to [access a data manipulator for a block](https://github.com/SpongePowered/SpongeDocs/blob/stable/source/plugin/blocks/accessing.rst#block-data-manipulators).

    import org.spongepowered.api.data.key.Keys;
    imp

[2020-11-02 12:10] #823 closed, assigned to nobody

[2020-11-27 19:47] ST-DDT opened #855 "[API-8] Docs Update Tracker"
We plan to update the existing API 7 docs to API 8.
This is a complete tree of the existing docs, all unchecked pages needs to be checked whether they need to be updated and be updated or replaced.
Feel free to add a comment regarding API features that have been added and are not documented at all yet.
If you wish to be in charge of the update for a particular page or section, please comment. We a

[2020-11-27 19:58] ST-DDT commented on #855
FFR: Created branch https://github.com/SpongePowered/SpongeDocs/compare/api-8

[2021-01-30 03:00] Inscrutable commented on #396
I can't see much value in keeping this ancient issue alive. Unless someone wants to get behind it and detail the specifics, it can stay closed,

[2021-01-30 03:00] #396 closed

[2021-03-14 17:55] mbax opened #862 "References to outdated maven repo"
Presently: `https://repo.spongepowered.org/maven`
Should be: `https://repo.spongepowered.org/repository/maven-public/`

Seen on:
https://docs.spongepowered.org/stable/en/plugin/project/gradle.html
https://docs.spongepowered.org/stable/en/plugin/project/maven.html
https://docs.spongepowered.org/stable/en/plugin/project/index.html
https://docs.spongepowered.org/stable/en/plugin/internals/mixins.html

[2021-03-15 08:28] #862 closed, assigned to nobody

[2021-09-07 12:42] Inscrutable opened #877 "Gradle page needs updating"
The links to maven repos and gradle plugin info at /source/plugin/project/gradle.rst are wrong.
It has moved from org.spongepowered.plugin to org.spongepowered.gradle.plugin
[Thanks to Cableguy20 for letting us know).

This could get bundled with other PR's directed at the same page.

[2022-01-27 05:47] AlexTheFixer opened #891 "Starting a server with Bountiful Baubles."
Hi there I have isolated the fatal error on my server. It seems to be an issue with a mod named Bountiful Baubles. https://www.curseforge.com/minecraft/mc-mods/bountifulbaubles
Context: I am trying to make a server it runs perfectly, until I add Spongeforge. It has a fatal conflict with spongeforge.
Log of exact moment of failure:
[05:30:44] [main/FATAL] [mixin/]: Mixin apply failed bountifulbaubl

[2022-05-16 17:01] RawrMaoster opened #908 "ModList was loaded too early"
[latest.log](https://github.com/SpongePowered/SpongeDocs/files/8701970/latest.log)

As the title said.

When i add in spongeforge to mods folder i get this and it stops loading. No crash log.

SpongeForge: spongeforge-1.16.5-36.2.5-8.0.0-RC1130-universal.jar

[2022-08-30 11:18] Inscrutable commented on #139
This can be closed with the merging of #897
Let there be CAKE! 🍰

[2022-08-30 11:18] #139 closed

[2022-09-28 18:43] renovate[bot] opened #928 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/SpongePowered/SpongeDocs).

## Open

The following updates have all been created. To force a retry/rebase of any, click on a checkbox below.

 - [ ]